<div class="wrapper" ng-controller="BodyController">
    <div ng-include="'admin/templates/menu.html'"></div>
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="admin/vendors/AdminLTE-master/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Admin</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li><a href ui-sref="user.home"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                <li class="treeview">
                    <a href ui-sref="user.mediamanager">
                        <i class="fa fa-edit"></i>
                        <span>Media manager</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href ui-sref="user.portfolio">
                        <i class="fa fa-edit"></i>
                        <span>Portfolio</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href ui-sref="user.portfolio"><i class="fa fa-eye" aria-hidden="true"></i>Portofolio</a></li>
                        <li><a href ui-sref="user.add_portfolio"><i class="fa fa-plus-square-o" aria-hidden="true"></i>New Portofolio</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href ui-sref="user.edit_settings">
                        <i class="fa fa-edit"></i>
                        <span>Settings</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href ui-sref="user.user_record">
                        <i class="fa fa-edit"></i>
                        <span>Users</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!--UI-View-->
    <div class="content-wrapper">
        <div  ui-view></div>
    </div>
    <div ng-include="'admin/templates/footer.html'"></div>
</div>
