<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.3.7
  </div>
  <strong>Copyright &copy; 2014-2016 <a href="#">Everexpert Info System</a>.</strong> All rights
  reserved.
</footer>
