<!DOCTYPE html>
<html ng-app="app" ng-controller="BodyController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everexpert Info System :: IT Solution Provider Ever</title>
    <meta name="keywords" content="Web Application Development,Desktop Application Development,Mobile Application Development,GIS & GPS Based App Development,
    CMS Customization,Notification Management System,Data Analytics And Visualization,Digital Marketing (Email, SMS, Facebook, Youtube), UX/UI Design
    Monitoring and Evaluaiton System(MIS), Ecommerce Application, Service Center Automation, Online Table Reservation for Restaurant, Human Resource Management, GIS based app.
    Supply Chain Management, Puzzle game development, Cross Platform Desktop App using Electron, Python Desktop Application.
    Develop native android mobile app and also hybrid app using Ionic2 framework, React native framework.
    GEO Mapping, GPS tracking and GEO plotting with Google map or Open Street Map using different interactive JS Library.
    "/>
    <meta name="description" content="
    Web Application Development,Desktop Application Development,Mobile Application Development,GIS & GPS Based App Development,
    CMS Customization,Notification Management System,Data Analytics And Visualization,Digital Marketing (Email, SMS, Facebook, Youtube), UX/UI Design
    "/>
    <meta property="og:title" content="Everexpert Info System :: IT Solution Provider Ever"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://everexpert.com/images/banners/social-network-analysis-app.jpg"/>
    <meta property="og:image:width" content="100" />
    <meta property="og:image:height" content="100" />
    <meta property="og:url" content="https://everexpert.com"/>
    <meta property="og:site_name" content="Everexpert Info System">
    <meta property="og:description" content="
    Web Application Development,Desktop Application Development,Mobile Application Development,GIS & GPS Based App Development,
    CMS Customization,Notification Management System,Data Analytics And Visualization,Digital Marketing (Email, SMS, Facebook, Youtube), UX/UI Design
    "/>
    <!--meta-end--->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ee-logo-fav.png">
    <link href="/vendor/all/font-awesome-4.7.0/css/font-awesome.min.css?v=<%-(new Date().getTime())%>" rel="stylesheet" >
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css?v=<%-(new Date().getTime())%>" />
    <link rel="stylesheet" href="/vendor/slick-master/slick/slick.css?v=<%-(new Date().getTime())%>">
    <link rel="stylesheet" href="/vendor/slick-master/slick/slick-theme.css?v=<%-(new Date().getTime())%>">
    <link rel="stylesheet" href="/vendor/nanoscroller.css?v=<%-(new Date().getTime())%>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css?v=<%-(new Date().getTime())%>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.css?v=<%-(new Date().getTime())%>">
    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css?v=<%-(new Date().getTime())%>">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-material.min.css?v=1585206611631">
    <link rel="stylesheet" href="/styles/bootstrap.min.css?v=1585206611631">
    <link rel="stylesheet" href="/styles/bootstrapt-theme.min.css?v=1585206611631">
    <link rel="stylesheet" href="/styles/style.css?v=1585206611631">
    <!--STYLES END-->
    <!--Dependency-->
    <script src="/vendor/jquery-2.2.4.min.js?v=<%-(new Date().getTime())%>"></script>
    <script src="/vendor/all/bootstrap.min.js?v=<%-(new Date().getTime())%>"></script>
    <script src="/vendor/slick-master/slick/slick.js?v=<%-(new Date().getTime())%>"></script>
    <script src="/vendor/jquery.nanoscroller.js?v=<%-(new Date().getTime())%>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js?v=<%-(new Date().getTime())%>"></script>
    <!--End--->
    <base href="/">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-28725475-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-28725475-1');
</script>

    <!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '429411861085206');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=429411861085206&ev=PageView&noscript=1"/></noscript>
  <!-- End Facebook Pixel Code -->
</head>
<body>
<%- partial('common/header') %>
<%- partial('homepage') %>
<%- partial('common/footer') %>
<!--SCRIPTS-->
<script src="/js/dependencies/angular.min.js?v=1585206611505"></script>
<script src="/js/dependencies/angular-animate.min.js?v=1585206611505"></script>
<script src="/js/dependencies/angular-aria.min.js?v=1585206611505"></script>
<script src="/js/dependencies/angular-material.min.js?v=1585206611505"></script>
<script src="/js/dependencies/angular-messages.min.js?v=1585206611505"></script>
<script src="/js/dependencies/angular-sanitize.min.js?v=1585206611505"></script>
<script src="/js/dependencies/angular-ui-router.min.js?v=1585206611505"></script>
<script src="/js/dependencies/sails.io.js?v=1585206611505"></script>
<script src="/js/dependencies/ui-bootstrap-custom-2.3.1.min.js?v=1585206611505"></script>
<script src="/js/dependencies/ui-bootstrap-custom-tpls-2.3.1.min.js?v=1585206611505"></script>
<script src="/js/app.js?v=1585206611505"></script>
<script src="/js/services/accessLevels.js?v=1585206611505"></script>
<script src="/js/controllers/BodyController.js?v=1585206611505"></script>
<script src="/js/controllers/HomeController.js?v=1585206611505"></script>
<script src="/js/controllers/ViewDetailsController.js?v=1585206611505"></script>
<script src="/js/routes.js?v=1585206611505"></script>
<script src="/js/services/auth.js?v=1585206611505"></script>
<script src="/js/services/currentUser.js?v=1585206611505"></script>
<script src="/js/services/localStorage.js?v=1585206611505"></script>
<script src="/js/services/messagesRepository.js?v=1585206611505"></script>
<!--SCRIPTS END-->
<!--TEMPLATES-->
<script type="text/javascript" src="/templates.js?v=1585206611735"></script>
<!--TEMPLATES END-->
</body>
</html>
