<div class="row">
    <div class="col-md-3 technologyImage" ng-repeat="x in technologies | filter:{category:'backend'}">
        <!--<img src="/images/About us/angular.jpg">-->
        <img ng-src="{{x.image}}">
    </div>
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/nodejs.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/loopback.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/sails.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/mongo.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/django.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/python.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/laravel.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/apache.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/mysql.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/wordpress.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/android.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/ios.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/leaflet.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/jquery.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/bootstrap.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/css3.jpg"></div>-->
    <!--<div class="col-md-3 technologyImage"><img src="/images/About us/html.jpg"></div>-->
</div>