<div class="row">
    <div class="col-md-3 technologyImage" ng-repeat="x in technologies | filter:{category:'frontend'}">
        <!--<img src="/images/About us/angular.jpg">-->
        <img ng-src="{{x.image}}">
    </div>
</div>