<section class="content-header">
    <h1>{{addOperation}} Portofolio<a ng-click="saveBlogs()" class="btn btn-primary pull-right">{{addOperation}}</a>
        <a ui-sref="user.portfolio" class="btn btn-primary pull-right">Back</a>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">General Elements</h3>
                    </div>
                    <div class="box-body">
                        <form role="form">
                            <!--ProductName-->
                            <div class="form-group">
                                <label>Title</label>
                               <input class="form-control" placeholder="Enter" ng-change="makeTitleSlug()" ng-model="portfolio.portfolioTitle"/>
                            </div>
                            <div class="form-group">
                                <label>Title Slug</label>
                                <input class="form-control" placeholder="Enter" ng-model="portfolio.portfolioSlug"/>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" placeholder="Write your text" ng-model="portfolio.portfolioDiscription"></textarea>
                            </div>
                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Images</button>
                            <!-- Modal -->
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-header">
                                            Upload New Image
                                            <input class=" btn"  type="file" ngf-select ngf-change="onlyUploadImage($files)" ng-multiple="multiple">
                                        </div>
                                        <div class="modal-body">
                                            <!--folders-->
                                            <div class="col-sm-3">
                                                <div class="mjh_imagefolders">
                                                    <h4>Images </h4>
                                                    <div ng-repeat="x in allfolders">
                                                        <span ng-class="currentFolderIndex==$index?'activeFolder':''" ng-click="showImages(x,$index)">{{x}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--images-->
                                            <div class="col-sm-9">
                                                <div class="mjh_allImages">
                                                    <!--images-from-first-folder-->
                                                    <div ng-repeat="x in rootfolderimg" ng-if="rootimg_hide">
                                                        <i class="fa fa-times" aria-hidden="true"  ng-click="deleteThisImage(x,'rootImageFolder')"></i>
                                                        <img ng-src="{{x}}" title="{{x}}" ng-click="selectedImage(x)">
                                                    </div>
                                                    <!--images-from-folders-->
                                                    <div ng-repeat="x in selectedFolderimg">
                                                        <i class="fa fa-times" aria-hidden="true" ng-click="deleteThisImage(x,'subImageFolder')"></i>
                                                        <img ng-src="{{x}}" title="{{x}}" ng-click="selectedImage(x)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end-modal-->
                            <!--modal-end-->
                            <!--Image-->
                            <div class="form-group">
                                <label style="display: block">Image</label>
                                <img ng-src="{{portfolio.portfolioImage}}" style="width:100px;"/>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
