<section class="content-header">
  <h1>Portfolio<a ui-sref="user.add_portfolio" class="btn btn-primary pull-right">{{addOperation}}</a></h1>
</section>
<section class="content">
  <div class="box box-warning" style="overflow-x: auto">
    <table class="table table-bordered">
      <!--Headers-->
      <tr>
        <th>#</th>
        <th>Edit/Delete</th>
        <th>Portfolio Title</th>
        <th>Description</th>
        <th>Image</th>
      </tr>
      <!--Data-->
      <tr ng-repeat="x in portfolios">
        <td style="width: 5%">{{$index+1}}</td>
        <td style="width: 150px">
          <a ui-sref="user.edit_portfolio({portfolioId:x.id})" class="btn btn-primary" >Edit</a>
          <a ng-click="deletePortfolio(x,$index)" class="btn btn-primary">Delete</a>
        </td>
        <td>{{x.portfolioTitle}}</td>
        <td>{{x.portfolioDiscription}}</td>
        <td style="width: 100px"><img width="100%" ng-src="{{x.portfolioImage}}"/></td>
      </tr>

    </table>
  </div>
  <!--<div class="paginatnbutton">-->
    <!--<a ng-repeat="pg in totalPages" class="btn btn-default btnpagination" ui-sref-active="paginatnbuttonactive" ui-sref="user.blog({pageNum:pg})" ng-click="setPage(pg)">{{pg}}</a>-->
  <!--</div>-->
</section>

