@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
*{
    margin: 0;
    padding: 0;
}

body.md-default-theme, body, html.md-default-theme, html {
    color: rgba(0,0,0,0.87);
    background-color: white;
}

ul,ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
a {
    text-decoration: none;
}
a:focus,
a:hover {
    text-decoration: none;
}

#Layer_1{
  width: 200px;
  margin-top: 10px;
  }

#ee-header-logo{
  width: 100px;
}
#XMLID_267_ {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.st0.st1.st2.st3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
#footer-ee-logo{
  width: 100px;
}
/*===============Isotop==============*/
.grid-item {
    width: 25%;
    padding: 4px;
}
.grid-item img{
    width: 100%;
}
/*===============Navbar==============*/
.navbar.navbar-default.navbar-custom{
    position: absolute;
    z-index: 2017;
    left: 0;
    right: 0;
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 0px 0px 3px;
}
.ee_logo img{
    width:138px;
    margin-top:6px;
}
.ee_logo span{
    display: block;
    font-size: 19px;
    text-shadow: 1px 1px 1px #000;
    color: white;
    line-height: 19px;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1.6px;
    margin-left: 1px;
}
#mainNavSt .ee_logo span{
  display: inline-block;
  margin-left: 10px;
  font-size: 28px;
}
#mainNavSt .ee_logo strong{
  display: block;
  font-size: 19px;
  text-shadow: 1px 1px 1px #000;
  color: white;
  line-height: 19px;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1.6px;
  margin-left: 1px;
}
#mainNavSt.navbar.navbar-default.navbar-custom{
    position: fixed;
    background: #2e4bff;
    background: linear-gradient(to right, rgb(7, 17, 78), rgb(4, 7, 67));
    transform: translate(0,-110%) scale(1);
    transition: 0.1s;
    box-shadow: 0px 2px 18px -4px #000;
}
#mainNavSt.navbar.navbar-default.navbar-custom .ee_logo img{
    width: 60px;
    padding-bottom: 3px;
}
#mainNavSt.navbar.navbar-default.navbar-custom.ee_sticky{
    position: fixed;
    transform: translate(0,0) scale(1);
    transition: 0.3s;
}

.navbar-right.main-navigation{
    padding-top:10px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    background: transparent;
    color: white;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a{
    background: transparent;
    color: white;
    background-image: none;
    box-shadow: none;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    text-transform: uppercase;
}
#mainNavSt .navbar-nav>li>a {
    line-height: 40px;
}
/*===============BannerSlider==============*/
.ee_mainBanner{
    position: relative;
}
.ee_mainBanner:after{
    content: "";
    /*background: rgba(46, 75, 255, 0.88); !* Old Browsers *!*/
    /*background: -webkit-linear-gradient(to right, rgba(46, 75, 255, 0.88), rgba(121, 187, 251, 0.76)); !*Safari 5.1-6*!*/
    /*background: -o-linear-gradient(to right, rgba(46, 75, 255, 0.88), rgba(121, 187, 251, 0.76))); !*Opera 11.1-12*!*/
    /*background: -moz-linear-gradient(to right, rgba(46, 75, 255, 0.88), rgba(121, 187, 251, 0.76)); !*Fx 3.6-15*!*/
    /*background: linear-gradient(to right, rgba(46, 75, 255, 0.88), rgba(121, 187, 251, 0.76));*/
    /*left: 0;*/
    /*bottom: -60px;*/
    /*right: 0;*/
    /*position: absolute;*/
    /*z-index: 0;*/
    /*height: 222px;*/
    /*transform: skewY(7deg);*/
}
.ee_mainBanner .container-fluid{
    padding: 0;
}
.ee_banner .slick-prev,
.ee_banner .slick-next{
    top: 80%;
    z-index: 1;
    width: 0;
    height: 0;
    background:transparent;
}
.ee_banner .slick-prev:hover,
.ee_banner .slick-prev:focus,
.ee_banner .slick-next:hover,
.ee_banner .slick-next:focus {
    color: white;
    background:transparent;
}
.ee_banner .slick-next {
    left: 22%;
}
.ee_banner .slick-next:before {
    content: "";
    background: url(../images/ee_short_image/next2.png);
    z-index: 1;
    position: absolute;
    width: 55px;
    height: 62px;
    top: 0;
}
.ee_banner .slick-next:after {
    content: "";
    background: url(../images/ee_short_image/nextA.png);
    z-index: 1;
    position: absolute;
    width: 12px;
    height: 21px;
    top: 28px;
    left: 33px;
}
.ee_banner .slick-prev {
    left: 18%;
}
.ee_banner .slick-prev:before {
    content: "";
    background: url(../images/ee_short_image/prev2.png);
    z-index: 1;
    position: absolute;
    width: 55px;
    height: 62px;
    top: 0;
}
.ee_banner .slick-prev:after {
    content: "";
    background: url(../images/ee_short_image/prevA.png);
    z-index: 1;
    position: absolute;
    width: 12px;
    height: 21px;
    top: 15px;
    left: 10px;
}
.ee_bannerImg img{
    width: 100%;
}
.ee_bannerImg.webmobileapp h2{
    color: #00fff8;
}
.ee_bannerImg.transportation h2{
    color: #dcf95a;
}
.ee_bannerFig{
    position: relative;
}
.ee_bannerFig:before{
    /*content: "";
    background: linear-gradient(to right, rgba(0, 0, 0, 0.66) 50%,rgba(0, 61, 170, 0.3) 100%);
    top: -50%;
    left: 0;
    bottom: 29%;
    right: 0;
    position: absolute;
    z-index: 1;
    transform: skewY(-5deg);*/
}
.ee_bannerCap{
    position: absolute;
    width: 1170px;
    z-index: 9999;
    top: 31%;
    left: 0;
    right: 0;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ee_bannerCap h2{
    font-size: 5.5vw;
    padding: 6px 0px;
    text-transform: uppercase;
    text-shadow: 1px 2px 12px #000;
}
.ee_bannerCap h5{
    font-size: 22px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.58);
}
/*===============Footer==============*/
.ee_footer{
    position: relative;
    background: black;
    padding: 40px 0px 60px;
}
.ee_footer:before{
    content: "";
    background: black;
    top: -15%;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    transform: skewY(-7deg);
}
.ee_footer_thank{
    color: white;
    padding: 0px 0px 60px;
    text-transform: uppercase;
}
.ee_footer_thank .ee_double img{
    width: 100px;
}
.ee_footer_thank h1{
    position: relative;
    padding: 10px 0px;
    color: #6f6f6f;
}
.ee_footer_thank h1 span.ee_single{
    position: absolute;
    left: 35%;
}
.ee_footer_thank h1 span.ee_single img{
    width: 70px;
}
.ee_footervr h3{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.ee_footervr ul{
    margin-top: 30px;
}
.ee_footervr ul li a{
    color: white;
    display: block;
    padding: 0px 20px;
    text-transform: uppercase;
}
.ee_quickLink{

}
.ee_quickLink li{
    padding: 0px 0px 10px;
}
.ee_quickLink li a{
    position: relative;
}
.ee_contactInfo li a {
    color: #6f6f6f;
}
.ee_quickLink li a:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
}
.ee_footerClogo{
    padding-top: 0;
    width: 120px;
    padding-bottom:30px;
}
.ee_footerClogo img{
    width: 100%;
}
.ee_address{
    color: #6f6f6f;
}
.ee_address h2,
.ee_address h4,
.ee_address p,
.ee_address ul li,
{
      color: #6f6f6f;
}
.ee_address h2{
    padding-bottom: 30px;
    text-transform: uppercase;
}
.ee_contactInfo{

}
.ee_contactInfo li{

}
.ee_contactInfo li i{
    min-width: 30px;
    padding-right: 15px;
}
.ee_contactInfo{

}
.ee_eeCompany .slick-slide img {
  display: block;
  width: 33.33%;
  float: left;
  border: 1px solid #000;
  opacity: 0.4;
  transition: all 0.5s ease;
}
.ee_eeCompany .slick-slide img:hover{
  opacity: 1;
}
.ee_eeCompany.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
/*===============NotAtAll==============*/
.ee_notAtall{
    position: relative;
    padding: 80px 0px;
}
.ee_notAtall:before{
    content: "";
    background: white;
    /*background: linear-gradient(to right, #2e4bff, rgb(67, 6, 49));*/
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    transform: skewY(-5deg);
    box-shadow: 0px -9px 23px -13px black;
}
/*.ee_notAtall:after{*/
    /*content: "";*/
    /*background: #2e4bff;*/
    /*background: linear-gradient(to right, #2e4bff, rgb(67, 5, 47));*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: -18%;*/
    /*right: 0;*/
    /*position: absolute;*/
    /*z-index: -1;*/
    /*transform: skewY(5deg);*/
    /*box-shadow:0px 2px 42px -14px black;*/
/*}*/
.ee_notAtall_Heading,
.ee_needSome_Heading,
.ee_works_Heading,
.ee_serve_Heading,
.ee_client_Heading{
    position: relative;
    text-transform: uppercase;
    padding: 0px 0px 50px;
}
.ee_notAtall_Heading h4,
.ee_needSome_Heading h4,
.ee_works_Heading h4,
.ee_serve_Heading h4,
.ee_client_Heading h4{
    color: #525252;
    padding-top: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
}



.ee_notAtall_Heading h1,
.ee_works_Heading h1{
    color:black;
    text-align:left;
}
.ee_separateStyle{
    color: rgb(102,102,102);
}
.ee_notAtall_Heading .ee_separateStyle{
    color:black;
}
.ee_notAtall_features{
    position: relative;
    /*padding: 0px 0 30px 0px;*/
    overflow: hidden;
}
.ee_notAtall_features:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #4770fe;
    top: 0;
    z-index: 1;
    left: 21.6%;
}

.ee_notAtall_features li a {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.ee_notAtall_features li.active a .ee_notAtall_icon{
    background: #2e4bff; /* Old Browsers */
    background: -webkit-linear-gradient(top,#2e4bff,#00aafe); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#2e4bff,#00aafe); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#2e4bff,#00aafe); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #2e4bff, #00aafe); /*Standard*/
    border-radius: 0px 0px 0px 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 0px 0px 20px #440634;
}
/*.ee_notAtall_features li:hover a .ee_notAtall_featuresnam,*/
/*.ee_notAtall_features li.active a .ee_notAtall_featuresnam{*/
    /*color: white;*/
    /*margin-bottom: 20px;*/
    /*box-shadow: 0px 0px 20px #440634;*/
/*}*/
.ee_notAtall_features li .ee_side .ee_notAtall_featuresnam{

}
.ee_notAtall_features li:hover .ee_side .ee_notAtall_featuresnam,
.ee_notAtall_features li.active .ee_side .ee_notAtall_featuresnam{
    color: black;
    background: white;
    min-height: 76px;
}
.ee_notAtall_features li>a:hover .ee_notAtall_icon{
    background: #2e4bff; /* Old Browsers */
    background: -webkit-linear-gradient(top,#2e4bff,#00aafe); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#2e4bff,#00aafe); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#2e4bff,#00aafe); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #2e4bff, #00aafe); /*Standard*/
    border-radius: 0px 0px 0px 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 0px 0px 20px #440634;
}
/*.ee_notAtall_features li>a:hover .ee_notAtall_featuresnam{*/
    /*margin-bottom: 20px;*/
    /*box-shadow: 0px 0px 18px #440634;*/
    /*color: black;*/
/*}*/
.ee_notAtall_icon{
    width: 20%;
    float: left;
    display: block;
    position: relative;
    min-height: 80px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 0px 0px 0px 20px;
    margin-left: 10px;
    box-shadow: 0px 0px 20px #440634;
}
.ee_notAtall_featuresnam{
    /*color: #000;*/
    float: right;
    padding: 10px;
    width: 76%;
    text-transform: uppercase;
    /*margin-bottom: 20px;*/
    /*box-shadow: 0px 0px 20px #440634;*/
}
.ee_notAtall_icon .ee_webdevelopmentIm{
    width: 35px;
    position: absolute;
    left: 25%;
    right: 0;
    top: 22px;
}
.ee_notAtall_icon .ee_softwaredevelopmentim,
.ee_notAtall_icon .ee_desitalmarketingim,
.ee_notAtall_icon .ee_exclusiveproductim{
    position: absolute;
    left: 17%;
    top: 15px;
    width: 50px;
}
.ee_atAll_list li{
    overflow: hidden;
    margin: 0px 0px 15px 0px;
}
.ee_atAll_list p span{
    display: block;
    width: 90%;
    float: left;
}
.ee_atAll_list p span.ee_atAll_details_numbers{
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid #0b9fff;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  margin-right: 15px;
  background: rgb(50, 66, 227);
  color: #cadcff;
}
.ee_atAll_details p{
    color: #cbdcff;
    font-size: 16px;
}
.ee_notAtall_more{
  padding: 0px 20px;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  border-bottom: 1px solid #0b9fff;
  border-right: 1px solid #0b9fff;
  text-align: center;
  line-height: 31px;
  background: rgb(50, 66, 227);
  color: #cadcff;
}
.ee_notAtall_more:hover{
    color:black;
    background: #3d7eff;
}
.ee_atAtall_details{
    position: relative;
    padding: 30px 0px;
}
 .ee_softwaredevelopmentim,
 .ee_desitalmarketingim,
 .ee_webdevelopmentIm,
 .ee_exclusiveproductim{
     /*width: 100%;*/
     width: 50px;
}
.ee_side figure{
    display: inline-block;
    width: 50px;
    /*padding: 5px;*/
    padding: 13px;
    min-width: 67px;
    min-height: 76px;
    float: left;
}
.ee_side{
    /*color: black;*/
    /*padding: 13px;*/
    margin: 15px;
    /*border-radius: 0px 0px 0px 20px;*/
    /*box-shadow: 0px 0px 20px #440634;*/
    /*background: #2e4bff;*/
    /*min-height: 76px;*/
    /*background: -webkit-linear-gradient(top,#2e4bff,#00aafe);*/
    /*background: -o-linear-gradient(top,#2e4bff,#00aafe);*/
    /*background: -moz-linear-gradient(top,#2e4bff,#00aafe);*/
    /*background: linear-gradient(to bottom, #fdfdfd, #dee0e0)*/
}
/*.serviceTab li a.hover .ee_side{*/
  /*box-shadow: 0px 0px 20px #440634;*/
/*}*/
.ee_notAtall_features li .ee_side{
    overflow: hidden;
}
.ee_notAtall_features li:hover .ee_side,
.ee_notAtall_features li.active .ee_side{
    border-radius: 0px 0px 0px 15px;
    box-shadow: 0px 0px 15px #440634;
}
.ee_notAtall_features li.active .ee_side figure{
    background: -webkit-linear-gradient(top,#2e4bff,#00aafe);
    background: -o-linear-gradient(top,#2e4bff,#00aafe);
    background: -moz-linear-gradient(top,#2e4bff,#00aafe);
    background: linear-gradient(to bottom, #2e4bff, #00aafe);
    /*border-radius: 0px 0px 0px 20px;*/

}
.ee_notAtall_features li:hover .ee_side figure{
    background: -webkit-linear-gradient(top,#2e4bff,#00aafe);
    background: -o-linear-gradient(top,#2e4bff,#00aafe);
    background: -moz-linear-gradient(top,#2e4bff,#00aafe);
    background: linear-gradient(to bottom, #2e4bff, #00aafe);
    /*box-shadow: 0px 0px 20px #440634;*/
}
.ee_notAtall_features li:hover .ee_white,
.ee_notAtall_features li.active .ee_white{
    display: block;
}
.ee_notAtall_features li:hover .ee_black,
.ee_notAtall_features li.active .ee_black{
    display: none;
}
.ee_notAtall_features li .ee_white{
    display: none;
}
.ee_notAtall_features li .ee_black{
    display: block;
}
/*===============NeedSome==============*/
.ee_needSome{
    padding:80px 0px;
    position: relative;
}
.ee_needSomeTools{
    text-align: center;
    /*cursor: pointer;*/
    background: #ccc;
    margin-bottom: 15px;
    padding: 15px;

    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to right, rgb(255, 255, 255) 50%,rgb(223, 227, 254) 100%);
}
.ee_needSomeTools h4{
  /* color:white; */
}
.ee_needSomeTools img{
    width: 50px;
}
.ee_needSomeTools figcaption{
    text-transform: uppercase;
    padding: 20px 0px 0px;
    min-height: 100px;
}
/*===============Technology==============*/
.ee_technology{
    padding: 80px 0px;
}
.ee_technology_use{
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    padding: 80px;
    background: linear-gradient(to right, rgb(0, 168, 255) 50%,rgb(47, 75, 255) 100%);
}
.ee_technology_Heading{
    text-align: center;
    padding: 15px 0px 60px;
}
.ee_technology_Heading h1{
    text-transform: uppercase;
    color:black;
}
.ee_technology_Heading h1 span.ee_separateStyle{
    color:white;
}
.ee_technology_Heading h4{
    color: #b5e5ff;
    letter-spacing: 8px;
    /*text-transform: uppercase;*/
}
.ee_technology_uselist{
    /*width: 70%;*/
    margin: auto;
    height: 400px;
}
.ee_technology_uselist li{
    margin-bottom: 30px;
    overflow: hidden;
}
.ee_technology_uselist li:last-child{
    margin: 0;
}
.ee_technology_uselist li span{
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #01a7ff;
  border-radius: 100%;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  box-shadow: 0px 0px 3px 1px #000 inset;
  color: #0c2e4c;
}
.ee_technology_uselist li span i{
  font-size: 20px;
  margin-left: 6px;
}
.nano {
  /*box-shadow: 0px 0px 6px 0px #43062e inset;
  padding: 20px;
  background: #099fff;*/
}
.nano > .nano-content {
    /*padding: 20px;*/
}

.nano > .nano-pane{
    opacity: 1;
    border-radius: 0;
}
.nano > .nano-pane > .nano-slider {
    border-radius: 0;
}
.ee_technologytype{
  margin-bottom: 15px;

}
.ee_technologytype h3{
  /*text-transform: uppercase; */
    letter-spacing: 2px;
    font-size: 19px;
    font-weight: normal;
    color: #0c2f4c;
    letter-spacing: 5px;
    /*box-shadow: 0px 0px 4px -1px #001;*/
    display: inline-block;
    border-radius: 4px;
    padding: 3px 6px;
    margin: 2px;
    /*width: 60%;*/
}
.ee_technologylogos{
    padding-top: 15px;
    clear: both;
}
.ee_technologylogos img{
    width: 60px;
    padding: 5px;
}
.ee_technologylogos li{
    float: left;
    margin: 0 0.5em 0.5em 0;
}
.ee_technologylogos .ee_languageWrapper {
    position: relative;
    font-size: 70px;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
     border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.95) inset;
}
.ee_useLan{
    text-align: center;
    margin-top: 5px;
    font-weight:normal;
}
.ee_slice{
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(auto, auto, auto, auto);
}
.ee_bar{
    position: absolute;
    border: 0.08em solid #005887;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    box-sizing: content-box;
    box-shadow: 2px 0px 2px 0px #000 inset;
}
.ee_fill{
    box-sizing: content-box;
    position: absolute;
    border: 0.08em solid #005887;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: 2px 0px 2px 0px #000 inset;
}
.ee_sliceImg{
    left: 2px;
    width: 70px;
    height: 70px;
    position: absolute;
}
.ee_sliceImg img{
    width: 65px;
    padding: 5px;
    vertical-align: top;
}
.ee_hand50{
    transform: rotate(180deg);
}
.ee_hand60{
    transform: rotate(216deg);
}
.ee_hand70{
    transform: rotate(252deg);
}
.ee_hand80{
    transform: rotate(288deg);
}
.ee_hand90{
    transform: rotate(324deg);
}
.ee_hand100{
    transform: rotate(360deg);
}
/*===============Experts==============*/
.ee_experts{
    padding: 100px 0px 0px;
}
/*===============Clients==============*/
.ee_client{
    padding: 100px 0px 0px;
}
.ee_clientInfo{
    width: 30%;
    float: left;
}
.ee_clientSpeech{
    width: 70%;
    float: left;
}
.ee_clientInfo h3{
    font-size: 18px;
}
.ee_clientInfo p{
    color: #9c9c9c;
    font-size: 12px;
}
.ee_clientsImg{
    overflow: hidden;
}
.ee_clientsImg li{
    float: left;
    width: 50px;
    margin: 3px;
}
.ee_clientsImg li img{
    width: 100%;
    min-height: 50px;
    border-radius: 100%;
}
blockquote.ee_clientQuote{
    font-size: 13.5px;
    text-align: justify;
    border-left: 1px solid #eee;
}
.ee_quoteIcon{
    font-size: 20px;
}
.ee_clientSocialLink{

}
.ee_clientSocialLink li{
    float: left;
}
.ee_clientSocialLink li span{
    width: 20px;
    height: 20px;
    color: white;
    margin: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
}
.ee_facebook{
    background: rgb(60,90,154);
}
.ee_twitter{
    background: rgb(82,174,239);
}
.ee_client .slick-dots li{
    width: 50px;
    height: 50px;
}
.ee_client .slick-dots li button{
    width: 50px;
    height: 50px;
    opacity: .5;
    border-radius: 100%;
    background-size: 100% 100% !important;
}
.ee_client .slick-dots li.slick-active button{
    opacity: 1;
}

.ee_client .slick-dots li button:before{
    display: none;
}
.ee_client .slick-dots li.slick-active button:before{
    display: none;
}
.ee_client .slick-dots{
    top: -70px;
    width: auto;
    bottom: initial;
}
.ee_client .slick-dotted.slick-slider {
    margin-bottom: 30px;
    margin-top: 70px;
}




/*===============PleasedToServe==============*/
.ee_serve{
    padding: 80px 0px 300px;
}
.ee_serviceClients img{
    width: 185px;
    padding: 0px 15px;
    margin: auto;
}
.ee_serviceClients img.ee_csb{
    width: 150px;
}
.ee_serviceClients .slick-prev:before,
.ee_serviceClients .slick-next:before {
    color: #828277;
}
.ee_serviceClients .slick-prev{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 110%;
    left: 15px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.ee_serviceClients .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 110%;
    left: 45px;
    right: initial;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.ee_serviceClients .slick-prev,
.ee_serviceClients .slick-next{
    top: 130%;
    z-index: 1;
    width: 0;
    height: 0;
    background:transparent;
}
.ee_serviceClients .slick-prev:hover,
.ee_serviceClients .slick-prev:focus,
.ee_serviceClients .slick-next:hover,
.ee_serviceClients .slick-next:focus {
    color: white;
    background:transparent;
}
.ee_serviceClients .slick-next {
    left: 12%;
}
.ee_serviceClients .slick-next:before {
    content: "";
    background: url(../images/arrow-next.png);
    z-index: 1;
    position: absolute;
    width: 79px;
    height: 39px;
    top: 0;
}
.ee_serviceClients .slick-prev {
    left: 1%;
}
.ee_serviceClients .slick-prev:before {
    content: "";
    background: url(../images/arrow-prev.png);
    z-index: 1;
    position: absolute;
    width: 79px;
    height: 39px;
    top: 0;
}
.slick-initialized .slick-slide {
    outline: 0;
}

#service .nav-tabs>li{
  width: 100%;
  padding: 0;
}
#service .nav-tabs>li a{
  padding: 0;
  background: transparent;
  border: none;
}
#service .nav-tabs{
  border: none;
}
/*===============Portfolio-Works==============*/
.ee_works{
    position: relative;
    padding: 80px 0;
    background: url(../images/portfolio/portfolio-bg.jpg) no-repeat fixed center center / cover;
    overflow: hidden;
    color: #fff !important;
}
/*.ee_works::before {*/
    /*content: "before ";*/
    /*height: 190px;*/
    /*width: 103%;*/
    /*background: #fff;*/
    /*display: block;*/
    /*transform: rotate(-5deg);*/
    /*position: relative;*/
    /*top: -160px;*/
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
/*}*/
/*.ee_works::after {*/
    /*content: "after";*/
    /*height: 190px;*/
    /*width: 103%;*/
    /*background: #fff;*/
    /*display: block;*/
    /*transform: rotate(5deg);*/
    /*position: relative;*/
    /*bottom: -160px;*/
    /*margin-left: -20px;*/
/*}*/
.portfolioInn {
    padding:50px 0 10px 0;
}

.ee_works p{
    font-size:16px;
    color: rgb(178,178,178);
}
.ee_works_portf img{
    width: 100%;
}
.ee_works .ee_works_Heading h1{
    color: white;
}
.ee_works .ee_works_Heading h1 .ee_separateStyle{
    color: rgb(178,178,178);
}
.ee_works_portf.ee_works_portfNext{
    padding-top: 30px;
}


/*  contbox
-------------------------------- */
.contbox {
    margin: 0 0 30px 0;
    text-align: center;
    overflow: hidden;
    color: black;
    /*min-height:335px;*/
}
.contbox h4 {
    font-size: 18px;
    font-weight: 400;
    padding: 15px 0 0;
    text-transform: uppercase;
    min-height:60px;
}
.contbox p {
    font-size: 13px;
    font-weight: 400;
    padding: 15px 0;
    color: black;
    height: 120px;
    overflow-y: scroll;
    text-align: left;
}

.contbox p::-webkit-scrollbar {
    width: 0.5em;
}

.contbox p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.contbox p::-webkit-scrollbar-thumb {
  background-color: #8eb2fa;
  outline: 1px solid #8eb2fa;
}

.ee_worksAr h1 {
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}
.ee_worksAr h2 span {
    color: rgb(178,178,178);
}
.ee_worksAr h4 {
    color: #69ccfd;
    letter-spacing: 5px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.portfolioBox {
    overflow: hidden;
    margin: 0 15px;
    text-align: center;
    display: block;
}
.portfolioBox h5 {
    color: white;
    text-transform: uppercase;
}
.portfolioBoximg {
    margin-bottom: 15px;
    overflow: hidden;
}
.portfolioBoximg img {
    display: inline-block;
    max-width: 100%;
}
.portfolioSlide .owl-buttons {
    top: 280px !important;
    width: 175px !important;
    left: 0;
    min-height: 46px;
    margin-left: -292px;
    position: absolute;
}
.portfolioSlide .owl-theme .owl-controls .owl-buttons div.owl-prev {
    background: url(../images/arrow-white-left.png) no-repeat;
    float: left;
    margin-left:0;
    display:block;
    width: 78px;
    height: 38px;
    border-radius:0;
    text-indent: -9999px;
    opacity: 1;
}
.portfolioSlide .owl-theme .owl-controls .owl-buttons div.owl-prev:hover {
    background: url(../images/arrow-white-left.png) no-repeat;
    opacity: 0.5;
}
.portfolioSlide .owl-theme .owl-controls .owl-buttons div.owl-next {
    background: url(../images/arrow-white-right.png) no-repeat;
    float: right;
    margin-right: 0;
    display:block;
    width: 78px;
    height: 38px;
    border-radius:0;
    text-indent: -9999px;
    opacity: 1;
}
.portfolioSlide .owl-theme .owl-controls .owl-buttons div.owl-next:hover {
    background: url(../images/arrow-white-right.png) no-repeat;
    opacity: 0.5;
}
.ee_serviceClients .slick-prev::before {
    content: "";
    background: url(../images/arrow-prev.png);
    z-index: 1;
    position: absolute;
    width: 79px;
    height: 39px;
    top: 0;
}
#service .nav-tabs > li a,
.ee_notAtall_features ul.serviceTab li a {
    /*padding-right: 20px;*/
    /*padding-top: 20px;*/
}
.ee_notAtall_features li:hover,
.ee_notAtall_features li:focus {
    outline: none;
}
/*
--------------------------------------*/
.ptsBox {
    overflow: hidden;
    margin: 0 15px;
    text-align: center;
}
.ptsBoximg {
    margin-bottom: 36px;
    overflow: hidden;
}
.ptsBoximg img {
    display: inline-block;
    max-width: 100%;
}
.ptsBoximg img.ee_csb {
    width:150px;
}
.ptsSlide .owl-buttons {
    width: 175px !important;
    min-height: 46px;
    margin-left: 0px;
}
.ptsSlide .owl-theme .owl-controls .owl-buttons div.owl-prev {
    background: url(../images/arrow-prev.png) no-repeat;
    float: left;
    margin-left:0;
    display:block;
    width: 78px;
    height: 38px;
    border-radius:0;
    text-indent: -9999px;
    opacity: 1;
}
.ptsSlide .owl-theme .owl-controls .owl-buttons div.owl-prev:hover {
    background: url(../images/arrow-prev.png) no-repeat;
    opacity: 0.5;
}
.ptsSlide .owl-theme .owl-controls .owl-buttons div.owl-next {
    background: url(../images/arrow-next.png) no-repeat;
    float: right;
    margin-right: 0;
    display:block;
    width: 78px;
    height: 38px;
    border-radius:0;
    text-indent: -9999px;
    opacity: 1;
}
.ptsSlide .owl-theme .owl-controls .owl-buttons div.owl-next:hover {
    background: url(../images/arrow-next.png) no-repeat;
    opacity: 0.5;
}
.ptsSlide .owl-pagination {
    display: none;
}
/*
----------------------- */
.contbox4 {
    margin: 0 0 10px 0;
    text-align: center;
    overflow: hidden;
    color: #fff;
    /*min-height:280px;*/
}
.contbox4 h4 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 0 5px 0;
    text-transform: uppercase;
}
.contbox4 p {
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    padding:5px 0 15px 0;
    color: #cbdcff;
}
.thpico {
    position: relative;
    overflow: hidden;
    margin:0 auto;
    width: 185px;
    height: 185px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.95) inset;
    border-radius: 50%;
}
.thpico img{
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.thpico svg{
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.contboximg {
    margin-bottom: 10px;
    -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.contboximg img {
    display: block;
    max-width: 100%;
}

/*.ee_technologylogos li {*/
    /*position: relative;*/
    /*font-size: 70px;*/
    /*width: 1em;*/
    /*height: 1em;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*-ms-border-radius: 50%;*/
    /*-o-border-radius: 50%;*/
    /*!* border-radius: 50%; *!*/
    /*float: left;*/
    /*margin: 0 0.1em 0.1em 0;*/
    /*background-color: rgb(255, 255, 255);*/
    /*box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.95) inset;*/
/*}*/

/* Scores
----------------------------*/

.scores-box {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    min-height: 90px;
    background: #f9f9f9;
    padding: 15px;
    box-shadow: 0px 0px 5px -1px #b7b7b7 inset;
}
.scores-icon {
    color: black;
    float: left;
    /*height: 78px;*/
    /*overflow: hidden;*/
    /*padding: 0;*/
    /*text-align: center;*/
    /*font-size:52px;*/
    /*width: 74px;*/
    /*background:url(../img/scores-icon.png) no-repeat bottom center;*/
    width: 20%;
    padding: 0px 15px 0px 0px;
}
.scores-icon img{
    width: 80%;
}
.scores-box-cont {
    /*width:100%;*/
    /*float:left;*/
    /*margin-left:-74px;*/
    /*text-align:left;*/
}
.scores-box-cont-inn {
    width:auto;
    /*padding-left:75px;*/
    color:black;
}
.scores-box-cont-inn h4 {
    font-size: 18px;
    font-weight: 400;
    padding: 3px 0px;
    text-transform: capitalize;
    /*min-height: 60px;*/
}
.scores-box-cont-inn p {
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0px 0px;
    color: black;
    margin: 0;
}
.contbox5 {
    min-height: 230px;
}

.ee_viewDetails{
    display: block;
    text-align: right;
}

.ee_readMore{
    display: inline-block;
    position: absolute;
    right: -1px;
    bottom: -1px;
}
a.ee_readMore{
    border-radius: 0;
    margin: 0;
    height: 100%;
    min-height: auto;
    min-width: auto;
    line-height: unset;
}
.md-button.md-raised:not([disabled]){
    box-shadow: -2px -2px 10px -2px rgba(0, 0, 0, 0.26);
}
.eeApp.md-button.md-raised:not([disabled]){
    box-shadow:none;
    background: transparent;
}
a.ee_readMore i{
    opacity: .5;
    line-height: 0;
    font-size: 30px;
    padding: 32px 0px;
    display: block;
}
.md-button.md-default-theme.md-raised:not([disabled]):hover, .md-button.md-raised:not([disabled]):hover {
    background-color: white;
}
.ee_appsoftDev{
    padding: 15px;
    display: block;
    max-width: 100%;
    min-height: 90px;
    position: relative;
    margin-bottom: 15px;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background: linear-gradient(to right, rgb(7, 17, 78), rgb(4, 7, 67));
    color: rgba(255,255,255,0.87);
}
md-dialog.md-default-theme, md-dialog {
    border-radius: 0px;
    background-color: rgb(255,255,255);
    color: rgba(0,0,0,0.87);
}
/*===========Responsive===========*/
@media (max-width: 768px){
    /*==========Common========*/
    .h1, h1 {
        font-size: 25px;
    }
    .ee_notAtall_Heading h4,
    .ee_needSome_Heading h4,
    .ee_works_Heading h4,
    .ee_serve_Heading h4,
    .ee_client_Heading h4 {
        font-size: 15px;
    }
    .ee_notAtall_Heading,
    .ee_needSome_Heading,
    .ee_works_Heading,
    .ee_serve_Heading,
    .ee_client_Heading {
        padding: 0px 0px 40px;
    }
    /*==========Navigation========*/
    .ee_desktopNav, #mainNavSt{
        display: none;
    }
    #mainNav .ee_mobileNav{
        display: initial;
    }
    #mainNav .container{
        height: 0;
    }
    .navbar-header{
        background: linear-gradient(to right, #2e4bff, rgb(67, 6, 49));
    }
    .navbar-header a{
        position: relative;
        display: block;
        margin-left: 15px;
    }
    #ee-header-logo {
        width: 45px;
        position: absolute;
    }
    .add-flip{
        transform: translateX(0px)!important;
        opacity: 1!important;
    }
    #mainNav .ee_mobileNav{
        width: 250px;
        transition: all 500ms ease;
        transform: translateX(250px);
        opacity: 0;
        float: right;
        border: none;
        background: linear-gradient(to right, #2e4bff, rgb(67, 6, 49));

    }
    .MenuItemList.active{
        background: #009afa;
    }
    .MenuItemList img{
        width: 20px;
        margin: 0px 10px 0px 0px;
    }
    .navbar-nav>li>a {
         padding-top: 20px;
         padding-bottom: 20px;
    }
    .navbar-toggle{
        color: white;
        padding: 0;
        margin: 0px 15px 0px 0px;
        border: none;
        border-radius: 0;
    }
    .navbar-header i{
        font-size: 40px;
    }
    .navbar-default
    .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        color: white;
        background-color: transparent;
    }
    .navbar.navbar-default.navbar-custom {
        position: fixed;
        z-index: 2017;
        height: 0;
    }
    /*==========FirstSec========*/
    .ee_mainBanner {
        position: relative;
        padding-top: 55px;
    }
    .ee_notAtall:before {
        top: -15px;
        transform: skewY(-3deg);
    }
    .ee_banner .slick-prev:before {
        content: '←';
        background: none;
        z-index: 1;
        position: initial;
        width: auto;
        height: auto;
        top: unset;
        font-size: 30px;
    }
    .ee_banner .slick-prev:after {
        content: "";
        background: none;
        z-index: 1;
        position: initial;
        width: auto;
        height: auto;
        top: unset;
        left: unset;
    }
    .ee_banner .slick-next:before {
        content: '→';
        background: none;
        z-index: 1;
        position: initial;
        width: auto;
        height: auto;
        top: unset;
        font-size: 30px;
    }
    .ee_banner .slick-next:after {
        content: "";
        background: none;
        z-index: 1;
        position: initial;
        width: auto;
        height: auto;
        top: unset;
        left: unset;
    }
    .ee_banner .slick-prev, .ee_banner .slick-next {
        top: 70%;
    }
    .ee_banner .slick-next {
        left: 50%;
    }
    .ee_banner .slick-prev {
        left: 40%;
    }
    .ee_bannerCap {
        width: auto;
        top: 15%;
    }
    .ee_bannerCap h5{

    }
    .ee_bannerCap h5:last-child{
        font-size: 15px;
    }
    .ee_bannerCap h2 {
        font-size: 22px;
    }
    /*==========SecondSec========*/
    .ee_notAtall {
        padding: 50px 0px 0px;
    }
    .ee_notAtall:after {
        bottom: 0;
    }
    .scores-box {
        display: block;
        min-height: 100px;
        background: white;
    }
    .scores-box-cont-inn h4 {
        min-height: 0;
    }
    .ee_notAtall_features {
        padding: 0;
        margin: 30px 0px;
    }
    #accordion{
        position: relative;
        display: block;
    }
    .desktopService{
        display: none;
    }
    .panel-group {
        position: relative;
    }
    .panel-heading img{
        width: 40px;
    }
    .panel-title {
        display: block;
    }
    .accordion .ee_serviceAccor{
        width: 50px;
        display: inline-block;
    }
    .accordion div.contbox4{
        min-height: 180px;
        display: block;
    }
    .contbox4 h4 {
        color: black;
    }
    .accordion img.ee_webdevelopmentIm{
        width: 30px;
    }
    .panel-default>.panel-heading {
        background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
        background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
        background-image: linear-gradient(to bottom,#f5f5f5 0,#4642a1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
        background-repeat: repeat-x;
    }
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        width: 100%;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        display: inline-block;
        padding: 9px;
        background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(white));
        background: linear-gradient(#f2f2f2, white);
    }
    .panel {
        border: none;
        padding: 0 18px;
        background-color: white;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    .ee_Service,.ee_Application,.Industry{
        margin-bottom: 15px;
    }
    .panel-group .panel {
        background: linear-gradient(to right, #ececec, rgb(239, 231, 236));
        border-radius: 0px;
    }
    .ee_Industry .contbox{
        min-height: 180px;
    }
    .contbox {
        padding: 5px;
        background: white;
        display: block!important;
    }
    .contbox p {
        padding: 15px 0px 0px;
        height: auto;
        text-align: center;
    }
    .contbox h4 {
        min-height: auto;
    }
    .ee_softwaredevelopmentim,
    .ee_desitalmarketingim,
    .ee_exclusiveproductim {
        width: 40px;
    }
    .thpico {
        width: 120px;
        height: 120px;
    }
    .accordion {
        width: 100%;
        margin: 0px auto 20px;
        background: #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .accordion .link {
        cursor: pointer;
        display: block;
        color: #4D4D4D;
        font-size: 15px;
        font-weight: 400;
        border: 1px solid #CCC;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .accordion li i {
        position: absolute;
        top: 16px;
        left: 12px;
        font-size: 18px;
        color: #595959;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .accordion li i.fa-chevron-down {
        right: 12px;
        left: auto;
        font-size: 16px;
    }
    /*.accordion li.open .link { color: #b63b4d; }*/
    /*.accordion li.open i { color: #b63b4d; }*/
    .accordion li.open i.fa-chevron-down {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    /*.ee_MoAppSoft,*/
    /*.ee_MoService{*/
        /*background: #ccc;*/
    /*}*/
    .submenu {
        /*padding: 15px;*/
        display: none;
    }
    .submenu a {
        display: block;
        text-decoration: none;
        color: #d9d9d9;
        padding: 12px;
        padding-left: 42px;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }
    .submenu a:hover {
        background: #b63b4d;
        color: #FFF;
    }
    .accordion li a.ee_readMore i{
        font-size: 30px;
        position: unset;
    }
    .accordion li a{
        padding: 0px 6px;
    }
    .accordion li a.ee_readMore i{
        color: black;
        font-size: 30px;
        position: unset;
    }
    .ee_MoConsul,
    .ee_Industry{
        width: 50%;
        float: left;
    }
    .scores-icon img {
        width: 25px;
    }
    /*==========ThirdSec========*/
    .ee_needSome {
        padding: 100px 0px 0px;
    }
    /*==========FourthSec========*/
    .ee_technology {
        padding: 55px 0px 50px;
    }
    .ee_technology_use {
        padding: 15px;
    }
    .ee_technologytype h3 {
        width: 100%;
        font-size: 18px;
    }
    .ee_technology_Heading {
        padding: 15px 0px 30px;
    }
    /*==========FifthSec========*/
    .ee_works {
        padding: 0;
    }
    .ee_works::before {
        height: 30px;
        width: 100%;
        transform: rotate(-3deg);
        position: relative;
        top: -21px;
    }
    .ee_works::after {
        height: 50px;
        width: 100%;
        transform: rotate(3deg);
        bottom: -41px;
        margin-left: -20px;
    }
    /*==========SixthSec========*/
    .ee_serve {
        padding: 55px 0px 100px;
    }
    /*==========Footer========*/
    .ee_footer:before {
        top: -5%;
    }
    .ee_footer_thank h1 span.ee_single {
        left: 60%;
    }
    .ee_footer_thank {
        padding: 0px 0px 30px;
    }
    .ee_footerClogo {
        width: 100px;
        margin: auto;
        padding-bottom: 15px;
    }
    .ee_address {
        padding-bottom: 15px;
        text-align: center;
    }

}

@media (max-width: 480px){
    /*==========FirstSec========*/
    .ee_mainBanner {
        position: relative;
        padding-top: 55px;
    }
    /*==========SecondSec========*/
    .ee_notAtall_featuresnam {
        width: 76%;
    }
    .ee_notAtall_Heading{
        /*padding: 0;*/
    }
    .md-toolbar-tools h1,
    .md-toolbar-tools h2,
    .md-toolbar-tools h3 {
        font-size: 18px;
    }
    /*==========ThirdSec========*/
    .ee_needSome {
        padding: 55px 0px 0px;
    }
    .ee_needSomeTools figcaption {
        min-height: 60px;
    }
    /*==========FourthSec========*/

    /*==========Footer========*/
    .ee_footer:before {
        top: -3%;
    }
}

@media (min-width: 768px){
    /*==========Navigation========*/
    .ee_desktopNav, #mainNavSt{
        display: block;
    }
    .ee_mobileNav.navbar-collapse.collapse{
        display: none !important;
    }
    /*==========FirstSec========*/
    .ee_mainBanner:after {
        bottom: -10%;
        height: 35%;
        transform: skewY(9deg);
    }
    .ee_banner .slick-prev,
    .ee_banner .slick-next {
        top: 72%;
    }
    /*==========SecSec========*/
    #accordion{
        display: none;
    }
    .desktopService{
        display: block;
    }
    md-dialog {
        max-width: 70%;
    }
    .ee_notAtall_features:before {
        left:74px;
    }
    .scores-box-cont-inn h4 {
        font-size: 15px;
    }
    .thpico {
        width: 165px;
        height: 165px;
    }
    .ee_softwaredevelopmentim, .ee_desitalmarketingim, .ee_webdevelopmentIm, .ee_exclusiveproductim {
        padding: 5px;
        width: 40px;
    }
    .ee_side figure {
        min-width: 59px;
    }
    .ee_notAtall_featuresnam {
        padding: 8px;
    }

}
@media (min-width: 992px){
    /*==========FirstSec========*/
    .ee_mainBanner:after {
        bottom: -10%;
        height: 35%;
        transform: skewY(9deg);
    }
    .ee_banner .slick-prev,
    .ee_banner .slick-next {
        top: 72%;
    }
    /*==========SecSec========*/
    .ee_notAtall_features:before {
        left: 82px;
    }
    .scores-box-cont-inn h4 {
        font-size: 18px;
    }
    .thpico {
        width: 185px;
        height: 185px;
    }
    .ee_softwaredevelopmentim, .ee_desitalmarketingim, .ee_webdevelopmentIm, .ee_exclusiveproductim {
        width: 50px;
    }
    .ee_side figure {
        min-width: 67px;
    }
    .ee_notAtall_featuresnam {
        padding: 10px;
    }

}
@media (min-width: 1024px){
    /*==========FirstSec========*/
    .ee_mainBanner:after {
        bottom: -10%;
        height: 35%;
        transform: skewY(8deg);
    }
    .ee_banner .slick-prev,
    .ee_banner .slick-next {
        top: 75%;
    }
}
@media (min-width: 1280px){
    /*==========FirstSec========*/
    .ee_mainBanner:after {
        bottom: -10%;
        height: 35%;
        transform: skewY(8deg);
    }
    .ee_banner .slick-prev,
    .ee_banner .slick-next {
        top: 77%;
    }
}
@media (min-width: 1366px){
    /*==========FirstSec========*/
    .ee_mainBanner:after {
        bottom: -20%;
        height: 40%;
        transform: skewY(7deg);
    }
    .ee_banner .slick-prev,
    .ee_banner .slick-next {
        top: 80%;
    }
    /*==========SecSec========*/
    md-dialog {
        max-width: 60%;
    }
    /*=============Footer============*/
    .ee_footer:before {
        content: "";
        background: black;
        top: -15%;
        width: 100%;
        height: 90%;
        z-index: -1;
        position: absolute;
        transform: skewY(-6deg);
    }
}
@media (min-width: 1680px){
    /*==========FirstSec========*/
    .ee_banner .slick-prev,
    .ee_banner .slick-next {
        top: 82%;
    }

}

/* FOR RESPONSIVE
---------------------------*/
