<nav id="mainNav" class="navbar navbar-default navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" onclick="ev_mobileNav()">
                <span class="sr-only">Toggle navigation</span>
                <i class="ion-android-menu"></i>
                <i class="ion-android-close" style="display: none"></i>
            </button>
            <!--Logo-->
            <a href="/">
                  <svg version="1.1" id="ee-header-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  	 viewBox="0 0 136.5 172.3" style="enable-background:new 0 0 136.5 172.3;" xml:space="preserve">
                  <style type="text/css">
                  	.st0{fill:#FFFFFF;}
                  </style>
                  <g id="Layer_2">
                  </g>
                  <g id="Layer_1">
                  	<path id="XMLID_371_" class="st0" d="M0.5,0v137.6h136V0H0.5z M103.3,88.7c-9.2,14.8-26.4,21.7-42.6,18.7
                  		c-6.3-2.6-10.8-4.9-13.3-6.7c-3-2.2-5.2-4.9-6.6-8.1c-3.6-8.3-1-15.4,7.7-21.5c15.6,18.8,28.4,26,38.5,21.7
                  		c3.8-1.6,6.3-4.3,7.5-8.1c1.2-3.8,0.8-7.9-1.2-12.4c-3.8-8.8-11.4-14.9-22.9-18.5c-11.5-3.6-22.4-3.1-32.8,1.3
                  		c-4.2,1.8-7.6,4.2-10.2,7.1c0.7-5.9,2.6-11.7,6-17c12-19.3,37.4-25.2,56.7-13.2C109.4,44.1,115.3,69.4,103.3,88.7z M52.7,68.5
                  		c7.9-3.4,14.9-4.7,21.1-3.9c6.2,0.8,10,2.8,11.4,6.1c1.5,3.4-0.1,6.1-4.8,8.2C70.8,83,61.6,79.5,52.7,68.5z"/>
                  	<g id="XMLID_375_">
                  		<g id="XMLID_376_">
                  			<path id="XMLID_421_" class="st0" d="M0,161.7v-8.3c0-2.1,0.5-3.7,1.5-4.9s2.5-1.7,4.5-1.7c2,0,3.5,0.6,4.5,1.7
                  				c1,1.2,1.5,2.8,1.5,4.9v4H5v4.3c0,1.1,0.3,1.6,1,1.6c0.7,0,1-0.6,1-1.8v-2.1h5v2.2c0,1.6-0.6,3-1.8,4c-1.2,1-2.6,1.5-4.2,1.5
                  				c-1.6,0-3.1-0.5-4.2-1.5C0.6,164.6,0,163.3,0,161.7z M5,154.8h2v-2.7c0-1-0.3-1.5-1-1.5c-0.6,0-1,0.5-1,1.5V154.8z"/>
                  			<path id="XMLID_419_" class="st0" d="M18.1,166.8L14,147.2h4.7l1.9,13.2l1.6-13.2h4.7l-3.9,19.6H18.1z"/>
                  			<path id="XMLID_416_" class="st0" d="M29.3,161.7v-8.3c0-2.1,0.5-3.7,1.5-4.9s2.5-1.7,4.5-1.7c2,0,3.5,0.6,4.5,1.7
                  				c1,1.2,1.5,2.8,1.5,4.9v4h-7v4.3c0,1.1,0.3,1.6,1,1.6c0.7,0,1-0.6,1-1.8v-2.1h5v2.2c0,1.6-0.6,3-1.8,4c-1.2,1-2.6,1.5-4.2,1.5
                  				c-1.6,0-3.1-0.5-4.2-1.5C29.9,164.6,29.3,163.3,29.3,161.7z M34.3,154.8h2v-2.7c0-1-0.3-1.5-1-1.5c-0.6,0-1,0.5-1,1.5V154.8z"/>
                  			<path id="XMLID_414_" class="st0" d="M44.5,166.8v-19.6h5v1.6c0.8-1.2,1.7-1.9,2.7-1.9c0.3,0,0.7,0,1.4,0.1v4.3
                  				c-0.9-0.1-1.6-0.1-2-0.1c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.5,1-0.5,1.8v13.1H44.5z"/>
                  			<path id="XMLID_389_" class="st0" d="M55.4,161.7v-8.3c0-2.1,0.5-3.7,1.5-4.9c1-1.2,2.5-1.7,4.5-1.7c2,0,3.5,0.6,4.5,1.7
                  				c1,1.2,1.5,2.8,1.5,4.9v4h-7v4.3c0,1.1,0.3,1.6,1,1.6c0.7,0,1-0.6,1-1.8v-2.1h5v2.2c0,1.6-0.6,3-1.8,4c-1.2,1-2.6,1.5-4.2,1.5
                  				c-1.6,0-3.1-0.5-4.2-1.5C56,164.6,55.4,163.3,55.4,161.7z M60.4,154.8h2v-2.7c0-1-0.3-1.5-1-1.5c-0.6,0-1,0.5-1,1.5V154.8z"/>
                  			<path id="XMLID_387_" class="st0" d="M69.4,166.8l3.6-10.3l-3.6-9.2h5l1.4,6.1c0.1-0.6,0.4-1.5,0.7-2.9c0.3-1.4,0.6-2.5,0.7-3.2
                  				h5l-3.6,9.2l3.6,10.3h-5l-1.4-6.1l-1.4,6.1H69.4z"/>
                  			<path id="XMLID_384_" class="st0" d="M85,172.3v-25.1h5.1v1.3c0.4-0.5,0.9-1,1.5-1.3c0.6-0.3,1.2-0.5,1.8-0.5
                  				c1.2,0,2.1,0.5,2.9,1.4c0.8,1,1.2,2,1.2,3.3V163c0,1.1-0.4,2.1-1.1,2.9c-0.8,0.8-1.7,1.3-2.8,1.3c-0.7,0-1.3-0.2-1.9-0.5
                  				c-0.6-0.3-1.1-0.8-1.5-1.4v7H85z M92.4,162v-10.1c0-0.9-0.3-1.3-0.8-1.3c-0.4,0-0.9,0.4-1.4,1.1v10.6c0.5,0.7,1,1.1,1.4,1.1
                  				c0.2,0,0.4-0.1,0.6-0.2c0.1-0.2,0.2-0.3,0.2-0.5C92.3,162.5,92.4,162.3,92.4,162z"/>
                  			<path id="XMLID_381_" class="st0" d="M100.7,161.7v-8.3c0-2.1,0.5-3.7,1.5-4.9c1-1.2,2.5-1.7,4.5-1.7c2,0,3.5,0.6,4.5,1.7
                  				c1,1.2,1.5,2.8,1.5,4.9v4h-7v4.3c0,1.1,0.3,1.6,1,1.6c0.7,0,1-0.6,1-1.8v-2.1h5v2.2c0,1.6-0.6,3-1.8,4c-1.2,1-2.6,1.5-4.2,1.5
                  				c-1.6,0-3.1-0.5-4.2-1.5C101.3,164.6,100.7,163.3,100.7,161.7z M105.8,154.8h2v-2.7c0-1-0.3-1.5-1-1.5c-0.6,0-1,0.5-1,1.5V154.8z
                  				"/>
                  			<path id="XMLID_379_" class="st0" d="M116,166.8v-19.6h5v1.6c0.8-1.2,1.7-1.9,2.7-1.9c0.3,0,0.7,0,1.4,0.1v4.3
                  				c-0.9-0.1-1.6-0.1-2-0.1c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.5,1-0.5,1.8v13.1H116z"/>
                  			<path id="XMLID_377_" class="st0" d="M128.5,160.1v-9.5h-1.4v-3.4h1.4l5.1-6.4v6.4h2.4v3.4h-2.4v10.7c0,0.5,0.1,0.9,0.3,1.2
                  				c0.2,0.3,0.6,0.4,1.1,0.4c0.4,0,0.8,0,1.1,0l0,4c-0.7,0.1-1.6,0.2-2.8,0.2c-0.6,0-1.1-0.1-1.6-0.2c-0.5-0.1-0.9-0.3-1.2-0.6
                  				s-0.6-0.5-0.8-0.9c-0.2-0.4-0.4-0.7-0.6-1.1c-0.1-0.4-0.2-0.8-0.3-1.3c-0.1-0.5-0.1-1-0.1-1.4
                  				C128.5,161.1,128.5,160.6,128.5,160.1z"/>
                  		</g>
                  	</g>
                  </g>
                  </svg>
            </a>
        </div>
        <!--Desktop-->
        <div class="ee_desktopNav collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right main-navigation">
                <li ui-sref-active="active" class="MenuItemList"><a href="anon.home" data-href="/">Home</a></li>
                <li ui-sref-active="active" class="MenuItemList"><a href="#service" data-href="/service">Services</a></li>
                <li ui-sref-active="active" class="MenuItemList"><a href="#products" data-href="/products">Products</a></li>
                <li ui-sref-active="active" class="MenuItemList"><a href="#portfolio" data-href="/portfolio">portfolio</a></li>
                <li ui-sref-active="active" class="MenuItemList"><a href="#ee_footer" data-href="/contact">contact</a></li>
            </ul>
        </div>
        <!--Mobile-->
        <div class="ee_mobileNav collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right main-navigation">
                <li ui-sref-active="active" class="MenuItemList ee_home active">
                    <a href="#home" data-href="/"><img src="images/mobIcons/home.png" alt="home"> Home</a>
                </li>
                <li ui-sref-active="active" class="MenuItemList ee_service">
                    <a href="#service" data-href="/service"><img src="images/mobIcons/service.png" alt="service"> Services</a>
                </li>
                <li ui-sref-active="active" class="MenuItemList ee_products">
                    <a href="#products" data-href="/products"><img src="images/mobIcons/products.png" alt="products"> Products</a>
                </li>
                <li ui-sref-active="active" class="MenuItemList ee_portfolio">
                    <a href="#portfolio" data-href="/portfolio"><img src="images/mobIcons/portfolio.png" alt="portfolio"> portfolio</a>
                </li>
                <li ui-sref-active="active" class="MenuItemList ee_contact">
                    <a href="#ee_footer" data-href="/contact"><img src="images/mobIcons/contacts.png" alt="contacts"> contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--FixedNavigation-->
<nav id="mainNavSt" class="navbar navbar-default navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a href="/">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 209.7 56.1" style="enable-background:new 0 0 209.7 56.1;" xml:space="preserve">
<style type="text/css">
.st0{fill:#FFFFFF;}
.st1{font-family:'Oswald-Light';}
.st2{font-size:21.1762px;}
.st3{letter-spacing:6;}
</style>
<text id="XMLID_267_" transform="matrix(1 0 0 1 58.2613 49.6837)" class="st0 st1 st2 st3" style="stroke-width: 200px; width: 200px; letter-spacing: 6px;">Info System</text>
<g id="XMLID_175_">
<g id="XMLID_158_">
  <g id="XMLID_159_">
    <path id="XMLID_182_" class="st0" d="M58.3,22.5v-8.9c0-2.2,0.6-3.9,1.5-5.1c1.1-1.2,2.7-1.9,4.8-1.9c2.2,0,3.8,0.7,4.8,1.9
      c1.1,1.2,1.5,3,1.5,5.1v4.3h-7.5v4.6c0,1.2,0.3,1.8,1,1.8c0.8,0,1.1-0.7,1.1-1.9V20h5.5v2.3c0,1.8-0.7,3.2-1.9,4.3
      c-1.2,1.1-2.8,1.7-4.5,1.7c-1.8,0-3.3-0.6-4.5-1.7C59,25.6,58.3,24.2,58.3,22.5z M63.7,15.1h2.1v-2.9c0-1.1-0.3-1.5-1.1-1.5
      c-0.7,0-1,0.6-1,1.5V15.1z"/>
    <path id="XMLID_181_" class="st0" d="M77.7,27.8L73.4,7h5L80.6,21l1.7-13.9h5l-4,20.9h-5.5L77.7,27.8L77.7,27.8z"/>
    <path id="XMLID_178_" class="st0" d="M89.5,22.5v-8.9c0-2.2,0.6-3.9,1.5-5.1c1.1-1.2,2.7-1.9,4.8-1.9s3.8,0.7,4.8,1.9
      c1.1,1.2,1.5,3,1.5,5.1v4.3h-7.5v4.6c0,1.2,0.3,1.8,1,1.8c0.8,0,1.1-0.7,1.1-1.9V20h5.3v2.3c0,1.8-0.7,3.2-1.9,4.3
      c-1.2,1.1-2.8,1.7-4.5,1.7c-1.8,0-3.3-0.6-4.5-1.7C90.1,25.6,89.5,24.2,89.5,22.5z M94.9,15.1H97v-2.9c0-1.1-0.3-1.5-1.1-1.5
      c-0.7,0-1,0.6-1,1.5V15.1z"/>
    <path id="XMLID_177_" class="st0" d="M105.8,27.8V7h5.4v1.7c0.8-1.3,1.8-2,2.9-2c0.3,0,0.8,0,1.4,0.1v4.5c-1-0.1-1.7-0.1-2.1-0.1
      c-0.8,0-1.3,0.2-1.7,0.7c-0.3,0.4-0.6,1.1-0.6,2v13.9h-5.4V27.8z"/>
    <path id="XMLID_169_" class="st0" d="M117.3,22.5v-8.9c0-2.2,0.6-3.9,1.5-5.1c1.1-1.2,2.7-1.9,4.8-1.9s3.8,0.7,4.8,1.9
      c1.1,1.2,1.5,3,1.5,5.1v4.3h-7.5v4.6c0,1.2,0.3,1.8,1,1.8c0.8,0,1.1-0.7,1.1-1.9V20h5.3v2.3c0,1.8-0.7,3.2-1.9,4.3
      c-1.2,1.1-2.8,1.7-4.5,1.7c-1.8,0-3.3-0.6-4.5-1.7C118,25.6,117.3,24.2,117.3,22.5z M122.7,15.1h2.1v-2.9c0-1.1-0.3-1.5-1.1-1.5
      c-0.7,0-1,0.6-1,1.5V15.1z"/>
    <path id="XMLID_168_" class="st0" d="M132.1,27.8l3.9-11l-3.9-9.9h5.3l1.5,6.5c0.1-0.7,0.3-1.7,0.8-3.1c0.3-1.4,0.7-2.7,0.8-3.4
      h5.3l-3.9,9.9l3.9,11h-5.3l-1.5-6.6l-1.5,6.6L132.1,27.8L132.1,27.8z"/>
    <path id="XMLID_165_" class="st0" d="M148.9,33.8V7.1h5.4v1.4c0.4-0.6,1-1,1.5-1.3c0.6-0.3,1.2-0.6,1.9-0.6
      c1.2,0,2.2,0.6,3.1,1.5c0.9,1,1.2,2.2,1.2,3.5V24c0,1.2-0.4,2.2-1.2,3.1c-0.8,0.9-1.8,1.3-3,1.3c-0.7,0-1.4-0.2-2-0.6
      c-0.7-0.3-1.2-0.9-1.7-1.5v7.5C154.2,33.8,148.9,33.8,148.9,33.8z M156.7,22.8V12c0-0.9-0.3-1.3-0.9-1.3c-0.4,0-0.9,0.4-1.5,1.2
      v11.3c0.6,0.8,1.1,1.1,1.5,1.1c0.2,0,0.4-0.1,0.6-0.2c0.1-0.2,0.2-0.3,0.2-0.6C156.7,23.3,156.7,23,156.7,22.8z"/>
    <path id="XMLID_162_" class="st0" d="M165.6,22.5v-8.9c0-2.2,0.6-3.9,1.5-5.1c1.1-1.2,2.7-1.9,4.8-1.9c2.2,0,3.8,0.7,4.8,1.9
      c1.1,1.2,1.5,3,1.5,5.1v4.3h-7.5v4.6c0,1.2,0.3,1.8,1,1.8c0.8,0,1.1-0.7,1.1-1.9V20h5.3v2.3c0,1.8-0.7,3.2-1.9,4.3
      c-1.2,1.1-2.8,1.7-4.5,1.7c-1.7,0-3.3-0.6-4.5-1.7C166.2,25.6,165.6,24.2,165.6,22.5z M170.9,15.1h2.1v-2.9
      c0-1.1-0.3-1.5-1.1-1.5c-0.7,0-1,0.6-1,1.5V15.1z"/>
    <path id="XMLID_161_" class="st0" d="M181.8,27.8V7h5.4v1.7c0.8-1.3,1.8-2,2.9-2c0.3,0,0.8,0,1.4,0.1v4.5c-1-0.1-1.7-0.1-2.1-0.1
      c-0.8,0-1.3,0.2-1.7,0.7c-0.3,0.4-0.6,1.1-0.6,2v13.9h-5.4V27.8z"/>
    <path id="XMLID_160_" class="st0" d="M194.6,20.7V10.6H193V7.1h1.5l5.4-6.8v6.8h2.7v3.7H200v11.5c0,0.6,0.1,1,0.3,1.3
      s0.6,0.4,1.1,0.4c0.7,0,1.1,0,1.5-0.1V28c-0.7,0.2-1.9,0.3-3.4,0.3c-0.7,0-1.2-0.1-1.7-0.2c-0.6-0.1-0.9-0.3-1.3-0.6
      c-0.3-0.2-0.7-0.6-0.9-1c-0.2-0.3-0.4-0.8-0.6-1.2c-0.1-0.4-0.2-0.9-0.3-1.4s-0.1-1-0.1-1.5C194.6,21.8,194.6,21.2,194.6,20.7z"
      />
  </g>
</g>
</g>
<path id="XMLID_171_" class="st0" d="M0,0v52.8h52.2V0H0z M39.5,34.1c-3.5,5.7-10.1,8.3-16.4,7.2c-2.4-1-4.1-1.9-5.1-2.6
c-1.2-0.8-2-1.9-2.5-3.1c-1.4-3.2-0.4-5.9,3-8.3c6,7.2,10.9,10,14.8,8.3c1.5-0.6,2.4-1.7,2.9-3.1c0.4-1.4,0.3-3-0.5-4.8
c-1.4-3.4-4.4-5.7-8.8-7.1c-4.4-1.4-8.6-1.2-12.6,0.5c-1.6,0.7-2.9,1.6-3.9,2.7c0.3-2.2,1-4.5,2.3-6.5C17.3,10,27,7.7,34.4,12.3
C41.8,16.9,44.1,26.7,39.5,34.1z M20.1,26.3c3-1.3,5.7-1.8,8.1-1.5c2.4,0.3,3.8,1.1,4.4,2.3c0.6,1.3-0.1,2.4-1.9,3.1
C27,31.9,23.5,30.5,20.1,26.3z"/>
</svg>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right ">
                <li ui-sref-active="active" class="MenuItemList"><a href="#home"    ui-sref="anon.home" data-href="/">Home</a></li>
                <li ui-sref-active="active" class="MenuItemList"><a href="#service"  data-href="/service">Services</a></li>
                <li ui-sref-active="active" class="MenuItemList"><a href="#products" data-href="/products">Products</a></li>
                <li ui-sref-active="active" class="MenuItemList"><a href="#portfolio" data-href="/portfolio">portfolio</a></li>
                <li ui-sref-active="active" class="MenuItemList"><a href="#ee_footer" data-href="/contact">contact</a></li>
            </ul>
        </div>
    </div>
</nav>



<!--<section style="    position: fixed;-->
    <!--z-index: 999;-->
    <!--right: 0;-->
    <!--width: 300px;-->
    <!--top: 50%;">-->
    <!--<div class="container">-->
        <!--&lt;!&ndash;FB-login&ndash;&gt;-->
        <!--<div class="ee_fb">-->
            <!--<fb:login-button class="fb-login-button" max-rows="1" data-size="large"-->
                             <!--scope="public_profile,email,pages_messaging" data-button-type="login_with" onlogin="checkLoginState();">-->
            <!--</fb:login-button>-->
        <!--</div>-->
        <!--<div>-->
            <!--<button class="btn btn-primary" ng-click="Fblogout()">LogOut</button>-->
            <!--&lt;!&ndash;<button class="btn btn-primary" ng-click="FbMessage()">FbMessage</button>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->



<script>
    // Add scrollspy to <body>
    $('body').scrollspy({target: ".navbar", offset: 50});
    // Add smooth scrolling on all links inside the navbar
    $("#mainNav a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {

            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });

        } // End if

    });
    // Add smooth scrolling on all links inside the navbar
   $("#mainNavSt a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {

            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });

        } // End if

    });

   function ev_mobileNav() {
       var moNav = document.querySelector("#mainNav .ee_mobileNav");
       var menuOpen = $('.ion-android-menu');
       var menuClose = $('.ion-android-close');
       if(!moNav.classList.contains('show')){
           menuOpen.fadeOut();
           setTimeout(function (){
               menuClose.fadeIn();
           }, 400);
           moNav.classList.add("show","add-flip" )
       }
       else {
           setTimeout(function (){
               menuOpen.fadeIn();
           }, 400);
           menuClose.fadeOut();
           moNav.classList.remove("show","add-flip")
       }
   }



</script>
