<!-- Footer -->
<footer class="ee_footer" id="ee_footer">
    <div class="container">
        <header class="ee_footer_thank">
            <span class="ee_double"><img ng-src="images/logos/pattern-double.png"/></span>
            <h1>thank you  <span class="ee_single"><img ng-src="images/logos/pattern-single.png"/></span></h1>
        </header>
        <div class="row">
            <!--Quick-Links-->
            <div class="col-md-6">
                <a target="_blank" href="everexpert.com/">
                <figure class="ee_footerClogo">
                    <!-- <img ng-src="images/logos/everexpert-footer-logo.png"> -->
                    <svg version="1.1" id="ee-footer-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 136.5 172.3" style="enable-background:new 0 0 136.5 172.3;" xml:space="preserve">
<style type="text/css">
	#ee-footer-logo .st0{fill:#6f6f6f;}
</style>
<g id="Layer_2">
</g>
<g id="Layer_1">
	<path id="XMLID_371_" class="st0" d="M0.5,0v137.6h136V0H0.5z M103.3,88.7c-9.2,14.8-26.4,21.7-42.6,18.7
		c-6.3-2.6-10.8-4.9-13.3-6.7c-3-2.2-5.2-4.9-6.6-8.1c-3.6-8.3-1-15.4,7.7-21.5c15.6,18.8,28.4,26,38.5,21.7
		c3.8-1.6,6.3-4.3,7.5-8.1c1.2-3.8,0.8-7.9-1.2-12.4c-3.8-8.8-11.4-14.9-22.9-18.5c-11.5-3.6-22.4-3.1-32.8,1.3
		c-4.2,1.8-7.6,4.2-10.2,7.1c0.7-5.9,2.6-11.7,6-17c12-19.3,37.4-25.2,56.7-13.2C109.4,44.1,115.3,69.4,103.3,88.7z M52.7,68.5
		c7.9-3.4,14.9-4.7,21.1-3.9c6.2,0.8,10,2.8,11.4,6.1c1.5,3.4-0.1,6.1-4.8,8.2C70.8,83,61.6,79.5,52.7,68.5z"/>
	<g id="XMLID_375_">
		<g id="XMLID_376_">
			<path id="XMLID_421_" class="st0" d="M0,161.7v-8.3c0-2.1,0.5-3.7,1.5-4.9s2.5-1.7,4.5-1.7c2,0,3.5,0.6,4.5,1.7
				c1,1.2,1.5,2.8,1.5,4.9v4H5v4.3c0,1.1,0.3,1.6,1,1.6c0.7,0,1-0.6,1-1.8v-2.1h5v2.2c0,1.6-0.6,3-1.8,4c-1.2,1-2.6,1.5-4.2,1.5
				c-1.6,0-3.1-0.5-4.2-1.5C0.6,164.6,0,163.3,0,161.7z M5,154.8h2v-2.7c0-1-0.3-1.5-1-1.5c-0.6,0-1,0.5-1,1.5V154.8z"/>
			<path id="XMLID_419_" class="st0" d="M18.1,166.8L14,147.2h4.7l1.9,13.2l1.6-13.2h4.7l-3.9,19.6H18.1z"/>
			<path id="XMLID_416_" class="st0" d="M29.3,161.7v-8.3c0-2.1,0.5-3.7,1.5-4.9s2.5-1.7,4.5-1.7c2,0,3.5,0.6,4.5,1.7
				c1,1.2,1.5,2.8,1.5,4.9v4h-7v4.3c0,1.1,0.3,1.6,1,1.6c0.7,0,1-0.6,1-1.8v-2.1h5v2.2c0,1.6-0.6,3-1.8,4c-1.2,1-2.6,1.5-4.2,1.5
				c-1.6,0-3.1-0.5-4.2-1.5C29.9,164.6,29.3,163.3,29.3,161.7z M34.3,154.8h2v-2.7c0-1-0.3-1.5-1-1.5c-0.6,0-1,0.5-1,1.5V154.8z"/>
			<path id="XMLID_414_" class="st0" d="M44.5,166.8v-19.6h5v1.6c0.8-1.2,1.7-1.9,2.7-1.9c0.3,0,0.7,0,1.4,0.1v4.3
				c-0.9-0.1-1.6-0.1-2-0.1c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.5,1-0.5,1.8v13.1H44.5z"/>
			<path id="XMLID_389_" class="st0" d="M55.4,161.7v-8.3c0-2.1,0.5-3.7,1.5-4.9c1-1.2,2.5-1.7,4.5-1.7c2,0,3.5,0.6,4.5,1.7
				c1,1.2,1.5,2.8,1.5,4.9v4h-7v4.3c0,1.1,0.3,1.6,1,1.6c0.7,0,1-0.6,1-1.8v-2.1h5v2.2c0,1.6-0.6,3-1.8,4c-1.2,1-2.6,1.5-4.2,1.5
				c-1.6,0-3.1-0.5-4.2-1.5C56,164.6,55.4,163.3,55.4,161.7z M60.4,154.8h2v-2.7c0-1-0.3-1.5-1-1.5c-0.6,0-1,0.5-1,1.5V154.8z"/>
			<path id="XMLID_387_" class="st0" d="M69.4,166.8l3.6-10.3l-3.6-9.2h5l1.4,6.1c0.1-0.6,0.4-1.5,0.7-2.9c0.3-1.4,0.6-2.5,0.7-3.2
				h5l-3.6,9.2l3.6,10.3h-5l-1.4-6.1l-1.4,6.1H69.4z"/>
			<path id="XMLID_384_" class="st0" d="M85,172.3v-25.1h5.1v1.3c0.4-0.5,0.9-1,1.5-1.3c0.6-0.3,1.2-0.5,1.8-0.5
				c1.2,0,2.1,0.5,2.9,1.4c0.8,1,1.2,2,1.2,3.3V163c0,1.1-0.4,2.1-1.1,2.9c-0.8,0.8-1.7,1.3-2.8,1.3c-0.7,0-1.3-0.2-1.9-0.5
				c-0.6-0.3-1.1-0.8-1.5-1.4v7H85z M92.4,162v-10.1c0-0.9-0.3-1.3-0.8-1.3c-0.4,0-0.9,0.4-1.4,1.1v10.6c0.5,0.7,1,1.1,1.4,1.1
				c0.2,0,0.4-0.1,0.6-0.2c0.1-0.2,0.2-0.3,0.2-0.5C92.3,162.5,92.4,162.3,92.4,162z"/>
			<path id="XMLID_381_" class="st0" d="M100.7,161.7v-8.3c0-2.1,0.5-3.7,1.5-4.9c1-1.2,2.5-1.7,4.5-1.7c2,0,3.5,0.6,4.5,1.7
				c1,1.2,1.5,2.8,1.5,4.9v4h-7v4.3c0,1.1,0.3,1.6,1,1.6c0.7,0,1-0.6,1-1.8v-2.1h5v2.2c0,1.6-0.6,3-1.8,4c-1.2,1-2.6,1.5-4.2,1.5
				c-1.6,0-3.1-0.5-4.2-1.5C101.3,164.6,100.7,163.3,100.7,161.7z M105.8,154.8h2v-2.7c0-1-0.3-1.5-1-1.5c-0.6,0-1,0.5-1,1.5V154.8z
				"/>
			<path id="XMLID_379_" class="st0" d="M116,166.8v-19.6h5v1.6c0.8-1.2,1.7-1.9,2.7-1.9c0.3,0,0.7,0,1.4,0.1v4.3
				c-0.9-0.1-1.6-0.1-2-0.1c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.5,1-0.5,1.8v13.1H116z"/>
			<path id="XMLID_377_" class="st0" d="M128.5,160.1v-9.5h-1.4v-3.4h1.4l5.1-6.4v6.4h2.4v3.4h-2.4v10.7c0,0.5,0.1,0.9,0.3,1.2
				c0.2,0.3,0.6,0.4,1.1,0.4c0.4,0,0.8,0,1.1,0l0,4c-0.7,0.1-1.6,0.2-2.8,0.2c-0.6,0-1.1-0.1-1.6-0.2c-0.5-0.1-0.9-0.3-1.2-0.6
				s-0.6-0.5-0.8-0.9c-0.2-0.4-0.4-0.7-0.6-1.1c-0.1-0.4-0.2-0.8-0.3-1.3c-0.1-0.5-0.1-1-0.1-1.4
				C128.5,161.1,128.5,160.6,128.5,160.1z"/>
		</g>
	</g>
</g>
</svg></figure></a>

                <div class="ee_address">
                    <!--<h2>contact address</h2>-->
                    <h4>EVEREXPERT INFO SYSTEM</h4>
                    <p>26/28/29, Sher-Shah Shwari Road <br/>Mohammadpur Dhaka 1207, <br/>Bangladesh</p>
                    <ul class="ee_contactInfo">
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@everexpert.com">info@everexpert.com</a></li>
                        <li><i class="fa fa-facebook-official" aria-hidden="true"></i><a target="_blank" href="http://facebook.com/everexpert">facebook.com/everexpert</a></li>
                        <li><i class="fa fa-twitter-square" aria-hidden="true"></i><a target="_blank" href="http://twitter.com/everexpert">twitter.com/everexpert</a></li>
                        <li><i class="fa fa-phone-square" aria-hidden="true"></i><a href="callto:8801777-515-669">01777-515-669</a></li>
                        <li><i class="fa fa-skype" aria-hidden="true"></i><a href="skype:everashraf?chat">everashraf</a></li>
                        <li><i class="fa fa-home" aria-hidden="true"></i><a href="http://everexpert.com">everexpert.com</a></li>
                    </ul>
                </div>


            </div>
            <!--Video-->
            <div class="col-md-6">
                <div class="ee_footervr">
                    <!--<h3>a video worth more than words</h3>-->
                    <!--<video width="620" height="406" controls>-->
                        <!--<source src="../video/sample.mp4" type="video/mp4">-->
                        <!--<source src="../video/sample.ogg" type="video/ogg">-->
                        <!--Your browser does not support the video tag.-->
                    <!--</video>-->

                    <div class="ee_eeCompany" ee-company-directive>
                        <div>
                            <img src="images/ee-company/everexpert-ashraf.jpeg">
                            <img src="images/ee-company/everexpert-hasan.jpg">
                            <img src="images/ee-company/everexpert-maruf.jpg">
                            <img src="images/ee-company/everexpert-rassel.jpg">
                            <img src="images/ee-company/everexpert-janar.jpg">
                            <img src="images/ee-company/everexpert-shihab.jpg">
                            <img src="images/ee-company/everexpert-bulon.jpg">
                            <img src="images/ee-company/everexpert-shoayeb.jpg">
                            <img src="images/ee-company/everexpert-team-group-3.jpg">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
