<!--Banner-->
<section id="home" class="ee_mainBanner">
  <div class="container-fluid">
    <div class="ee_banner">
      <!-- <div class="ee_bannerImg">
        <figure class="ee_bannerFig">
          <img src="images/banners/banner.jpeg">
          <figcaption class="ee_bannerCap">
            <h5>you are at the</h5>
            <h2>right place</h2>
            <h5>get a perfect hand to develop ...</h5>
          </figcaption>
        </figure>
      </div> -->

      <div class="ee_bannerImg">
        <figure class="ee_bannerFig">
          <img src="images/banners/social-network-analysis-app.jpg">
          <figcaption class="ee_bannerCap">
            <h5>We provide</h5>
            <h2>Social Network Analysis</h2>
            <h5>With Facebook and Twitter based Graph Data API</h5>
          </figcaption>
        </figure>
      </div>
      <div class="ee_bannerImg webmobileapp">
        <figure class="ee_bannerFig">
          <img src="images/banners/data-visualization2.jpg">
          <figcaption class="ee_bannerCap">
            <h5>We develop</h5>
            <h2>Web & Mobile Application</h2>
            <h5>on demand basis for our valuable clients ...</h5>
          </figcaption>
        </figure>
      </div>
      <div class="ee_bannerImg transportation">
        <figure class="ee_bannerFig">
          <img src="images/banners/transportation-data-analysis2.jpg">
          <figcaption class="ee_bannerCap">
            <h5>We analyse</h5>
            <h2>Transportation Data</h2>
            <h5>to leaverage traffic jam in dhaka city</h5>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<!--service-->
<section id="service" class="ee_notAtall">
  <div class="container">
    <header class="ee_notAtall_Heading">
      <h1>NOT <span class="ee_separateStyle">ALL</span></h1>
      <h4>but serving the best</h4>
    </header>
    <div class="row">
      <div class="col-sm-4">
        <div class="ee_notAtall_features">

          <!-- Nav tabs -->
          <!-- NotAtAllCategory -->
            <ul class="nav nav-tabs ee_notAtallCategory serviceTab" role="tablist">
              <li role="presentation" class="active">
                <a class="active" href="#service-we-provide" aria-controls="service-we-provide" role="tab" data-toggle="tab">
                  <span class="ee_notAtall_icon">
                    <img class="ee_exclusiveproductim" src="images/ee_short_image/web-design.png">
                  </span>
                  <span class="ee_notAtall_featuresnam">Service We<br/>Provided / Providing</span>
                </a>
              </li>
              <li role="presentation" >
                <a  class="inactive" href="#software-we-developed" aria-controls="software-we-developed" role="tab" data-toggle="tab">
                  <span class="ee_notAtall_icon">
                    <img class="ee_softwaredevelopmentim" src="images/ee_short_image/charity-app.png">
                  </span>
                  <span class="ee_notAtall_featuresnam">Application / Software <br/> We Developed</span>
                </a>
              </li>
              <li role="presentation">
                <a class="inactive" href="#industry-we-served" aria-controls="industry-we-served" role="tab" data-toggle="tab">
                  <span class="ee_notAtall_icon">
                    <img class="ee_webdevelopmentIm" src="images/ee_short_image/html.png">
                  </span>
                  <span class="ee_notAtall_featuresnam">Industry <br/> We Served</span>
                </a>
              </li>
              <li role="presentation">
                <a class="inactive" href="#served-as-consultant" aria-controls="served-as-consultant" role="tab" data-toggle="tab">
                  <span class="ee_notAtall_icon">
                    <img class="ee_desitalmarketingim" src="images/ee_short_image/padlock.png">
                  </span>
                  <span class="ee_notAtall_featuresnam">Served <br/> As Consultant</span>
                </a>
              </li>
            </ul>


        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-content">
          <!-- Tab panes -->
          <div role="tabpanel row" class="tab-pane active" id="service-we-provide">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Web Application <br/>Development and Maintenance</h4>
                    <p>Monitoring and Evaluaiton System(MIS), Ecommerce Application, Service Center Automation, Online Table Reservation for Restaurant, Human Resource Management,
                      GIS based app.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Desktop Application <br/>Development and Maintenance</h4>
                    <p>Supply Chain Management, Puzzle game development, Cross Platform Desktop App using Electron, Python Desktop Application</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Mobile Application <br/>Development and Maintenance</h4>
                    <p>We develop native android mobile app and also hybrid app using Ionic2
                      framework, React native framework.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>GIS & GPS based App Development</h4>
                    <p>GEO Mapping, GPS tracking and GEO plotting with Google map or Open Street Map using different interactive JS Library.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>CMS customization and On demand Custom Service</h4>
                    <p>Payment gateway integration, SMS gateway integration,
                      Wordpress/Joomla Template/Plugins/Module Customization.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Notification management system</h4>
                    <p>SMS Notification, Email Notification, Facebook Messenger Notification</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Consultancy, Documentation, Presentation</h4>
                    <p>Requirement Analysis, Prepare RFP/EOI Documentation, Software Architecture Define,
                      Technology Stack Choose, Software development team building, Project Management Ecosystem Development,
                      Server Optimization, Website Optimization.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Data Analytics and Visualization</h4>
                    <p>We analyze vehicle tracking and ride sharing data and predict meaningful information.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Web Scrapping</h4>
                    <p>We provide web scrapping with python and nodejs scripting.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Web Service</h4>
                    <p>We are specialised to provide Rest API based web server with any
                      technology stack (LAMP, MEAN).</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>DevOps & Cloud Server Management</h4>
                    <p>We provide DevOps Service and solution based on Amazon Web Services, Google Cloud
                        Platform and Digital Ocean cloud server ecosystem.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Digital Marketing (Email, SMS, Facebook, Youtube)</h4>
                    <p>Social Media Marketing (Facebook, Twitter,
                      Youtube etc.), Email Campaign, SMS Campaign.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Search Engine Optimization</h4>
                    <p>Keyword Researcher, On Page SEO(Onsite SEO, Technical SEO), Off Page SEO.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Corporate Branding</h4>
                    <p>Logo Sketch, Design, Mockup, Letterhead, Business card, Envelop, Branding.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>UX/UI Design</h4>
                    <p>Requirement Analysis, User Experience Design, User Interface Design,
                      Web Application Design, Mobile Application Design, Prototyping, Mockup Design.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="scores-box">
                <div class="scores-icon"><span class="pe-7s-settings" style="font-size: 50px;"></span></div>
                <div class="scores-box-cont">
                  <div class="scores-box-cont-inn">
                    <h4>Photography & Video</h4>
                    <p>Product Photography, Industry Photography, Building Photography, HD Video Capturing and Editing.</p>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div role="tabpanel row" class="tab-pane " id="software-we-developed">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <span class="pe-7s-global" style="font-size: 50px;"></span>
                <h4>GIS based application</h4>
                <p>GEO Plotting pollings station all over bangladesh with leaflet js.</p>
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <span class="pe-7s-global" style="font-size: 50px;"></span>
                <h4>MIS, Monitoring and Evaluation System</h4>
                <p>NGO based organization.</p>
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <span class="pe-7s-global" style="font-size: 50px;"></span>
                <h4>Hotel ERP</h4>
                <p>Room Reservation, Folio Management, Restaurant Table Reservation, Accounting, Kitchen Manadement, Laundry Service Management, Transportation Management, Point of Sale, Purchase, Inventory, HR & Payroll System, Leave Management, Web portal management, Online Reservation System,Integration with GDS.</p>
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <span class="pe-7s-global" style="font-size: 50px;"></span>
                <h4>All Purpose ERP</h4>
                <p>Full Accounting Module, Financial Module, Procurement Module, Sales Module, Manufacturing Module, Human Resource Module, Payroll Module, Inventory Module, etc..</p>
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <span class="pe-7s-global" style="font-size: 50px;"></span>
                <h4>Ecommerce based Applicaiton</h4>
                <p>Product Gallery, Nested Product Category, Product Tagging, Product Review System, Easy guided Shopping cart,
                  payment gateway integration, SMS gateway integration, facebook messanger integraton,
                  real time chat integration, order report panel, customer dashboard panel, enhanced admin panel,
                  role based permission in admin panel</p>
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <span class="pe-7s-global" style="font-size: 50px;"></span>
                <h4>Social Networking</h4>
                <p>Sentiment Analysis, Using Facebook Graph API and graph database(neo4j) we have develop a network based facebook group and page.
                In the project, we have analysis user interaction on those pages and groups. As a result we have go the most active user with
              certain mentality. <br/> Also we have develop matrimonial website with Real time chat feature.</p>
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <span class="pe-7s-global" style="font-size: 50px;"></span>
                <h4>Vehicle Tracking and Ride Sharing</h4>
                <p>Using XMPP and Socket programming, we have develop Uber/Pathao like ride sharing app with realtime tracking dispatcher dashboard for monitoring
                  overll process.</p>
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <span class="pe-7s-global" style="font-size: 50px;"></span>
                <h4>Online Reservation</h4>
                <p>Online/Offline Hotel/Restaurant reservation.</p>
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <span class="pe-7s-global" style="font-size: 50px;"></span>
                <h4>Human Resource Management System</h4>
                <p>Online/Offline Hotel/Restaurant table reservation .</p>
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <span class="pe-7s-global" style="font-size: 50px;"></span>
                <h4>Supply Chain Management System</h4>
                <p>Online/Offline Hotel/Restaurant table reservation .</p>
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
          </div>

          <div role="tabpanel row" class="tab-pane" id="industry-we-served">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/Government.jpg" alt=""></div>
                <h4>Government Project</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/ngo.jpg" alt=""></div>
                <h4>NGO</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/erp.jpg" alt=""></div>
                <h4>ERP</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/Ecommerce.jpg" alt=""></div>
                <h4>Ecommerce</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/Sme.jpg" alt=""></div>
                <h4>SME</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/social-networking.jpg" alt=""></div>
                <h4>Social Networking</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/Transportation1.jpg" alt=""></div>
                <h4>Transportation</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/Retail.jpg" alt=""></div>
                <h4>Retail</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/Communication.jpg" alt=""></div>
                <h4>Communication</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/education.jpg" alt=""></div>
                <h4>Education</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/food-beverage.jpg" alt=""></div>
                <h4>Food & Beverage</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox">
                <div class="contboximg"><img src="images/industry/logistics.jpg" alt=""></div>
                <h4>Logistics</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae doloribus excepturi, laboriosam nesciunt -->
                  <!-- omnis provident! quia quisquam.</p> -->
                <!--<a href="#" class="ee_notAtall_more">more</a>-->
              </div>
            </div>
          </div>

          <div role="tabpanel row" class="tab-pane" id="served-as-consultant">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox4">
                <div class="thpico">
                  <img src="images/clients-company/the-hunger-project-logobd.png" alt="">
                </div>
                <h4>THP</h4>
                <!-- <p>The Hunger Project, Monitoring and Evaluation System.</p> -->

                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox4">
                <div class="thpico">
                  <img src="images/clients-company/cdd_logo.png" alt="">
                </div>
                <h4>CDD</h4>
                <!-- <p>Center For Disability Development, Monitoring and Evaluation System.</p> -->
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox4">
                <div class="thpico">
                  <img src="images/clients-company/paragon-group.gif" alt="">
                </div>
                <h4>Paragon Group</h4>
                <!-- <p>Technical Partner.</p> -->
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox4">
                <div class="thpico">
                  <img src="images/clients-company/UNDP.png" alt="">
                </div>
                <h4>UNDP</h4>
                <!-- <p>Social Network Analysis, Preparing technical proposal.</p> -->
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox4">
                <div class="thpico">
                  <svg class="logo" style="width: 150px; height: 95px;" viewBox="0 0 982 245" preserveAspectRatio="xMinYMax meet">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo">
                      <g id="logo" sketch:type="MSLayerGroup">
                              <path d="M0,0 L0,74 L371,74 L371,0 L0,0 L0,0 Z" id="logo-blue" fill="#8DBCDA" sketch:type="MSShapeGroup"></path>
                              <path d="M0,85 L0,159 L371,159 L371,85 L0,85 L0,85 Z" id="logo-green" fill="#62AC5E" sketch:type="MSShapeGroup"></path>
                              <path d="M0,171 L0,245 L371,245 L371,171 L0,171 L0,171 Z" id="logo-brown" fill="#6A4C17" sketch:type="MSShapeGroup"></path>
                              <path d="M500,54 L500,188 L540.503145,188 C547.060829,188 553.425546,186.908159 559.597484,184.724444 C565.769423,182.54073 571.266223,178.917803 576.08805,173.855556 C580.909877,168.793308 584.767281,162.192633 587.660377,154.053333 C590.553474,145.914033 592,135.988207 592,124.275556 C592,113.555502 590.987432,103.877821 588.962264,95.2422222 C586.937097,86.6066235 583.610086,79.2118826 578.981132,73.0577778 C574.352178,66.9036729 568.22855,62.1889053 560.610063,58.9133333 C552.991576,55.6377614 543.589154,54 532.402516,54 L500,54 Z M436,244 L436,2 L543.21519,2 C559.227928,2 574.138117,4.48550269 587.946203,9.45658263 C601.754288,14.4276626 613.705646,21.8841706 623.800633,31.8263305 C633.89562,41.7684904 641.785837,54.1960039 647.471519,69.1092437 C653.157201,84.0224835 656,101.53398 656,121.644258 C656,139.268996 653.679348,155.537741 649.037975,170.45098 C644.396601,185.36422 637.376629,198.243643 627.977848,209.089636 C618.579067,219.935628 606.859775,228.465422 592.81962,234.679272 C578.779466,240.893122 562.244821,244 543.21519,244 L436,244 Z M743,153 L806,153 L775.351351,64 L774.67027,64 L743,153 Z M714.598454,73.3251553 L741.5942,2 L807.534815,2 C807.534815,2 821.307186,39.2537568 835.079561,76.5075124 L897,244 L831.276814,243.999999 L815.543096,200.013933 L729.043532,200.013933 L714.301878,243.999999 L650,244 L714.598454,73.3251553 Z M919,244 L919,2 L982,2 L982,244 L919,244 Z" id="logo-dai" fill="#6A4C17" sketch:type="MSShapeGroup"></path>
                          </g>
                    </use></svg>
                </div>
                <h4>DAI</h4>
                <!-- <p>Development Alternative Inc. (Agreculture Value Chain, Technical Proposal).</p> -->
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox4">
                <div class="thpico">
                  <img src="images/clients-company/maxwellstamp.png" alt="">
                </div>
                <h4>Maxwell</h4>
                <!-- <p>Technical Proposal.</p> -->
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox4">
                <div class="thpico">
                  <img src="images/clients-company/khaasfoodbd.png" alt="">
                </div>
                <h4>Khaasfood</h4>
                <!-- <p>IT Consultant.</p> -->
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="contbox4">
                <div class="thpico">
                  <img src="images/clients-company/modestbd.png" alt="">
                </div>
                <h4>ModestBD</h4>
                <!-- <p>IT Consultant.</p> -->
                <!-- <a href="#" class="ee_notAtall_more">more</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$('.serviceTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

<!--needs-->
<section id="products" class="ee_needSome">
  <div class="container">
    <header class="ee_needSome_Heading">
      <h1>You perhaps <span class="ee_separateStyle">need some tools</span></h1>
      <h4>Providing Software As A service (SAAS)</h4>
    </header>
    <div class="row">
      <div class="col-sm-3">
        <figure class="ee_needSomeTools">
          <img ng-src="images/ee_short_image/classroom.svg" >
          <figcaption>
            <h4>Education Management System</h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-3">
        <figure class="ee_needSomeTools">
          <img ng-src="images/ee_short_image/shopping-bag.svg" >
          <figcaption>
            <h4>Ultimate ecommerce solution</h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-3">
        <figure class="ee_needSomeTools">
          <!-- <div class="figIcon"><span class="pe-7s-science" style="font-size: 50px;"></span></div> -->
          <img ng-src="images/ee_short_image/delivery-truck.svg" >
          <figcaption>
            <h4>Transportation & Urban Data Science</h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-3">
        <figure class="ee_needSomeTools">
          <img ng-src="images/ee_short_image/geolocalization.svg" >
          <figcaption>
            <h4>GIS Plotting, Geo spatial application</h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-3">
        <figure class="ee_needSomeTools">
          <!-- <div class="figIcon"><span class="pe-7s-stopwatch" style="font-size: 50px;"></span></div> -->
          <img ng-src="images/ee_short_image/evaluation.svg" >
          <figcaption>
            <h4>Monitoring & Evaluation System</h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-3">
        <figure class="ee_needSomeTools">
          <!-- <div class="figIcon"><span class="pe-7s-config" style="font-size: 50px;"></span></div> -->
          <img ng-src="images/ee_short_image/gears.svg" >
          <figcaption>
            <h4>Enterprise Resource Planning (Odoo/Open ERP)</h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-3">
        <figure class="ee_needSomeTools">
          <!-- <div class="figIcon"><span class="pe-7s-help2" style="font-size: 50px;"></span></div> -->
          <img ng-src="images/ee_short_image/technical-support.svg" >
          <figcaption>
            <h4>Customer Relationship Management (SMS/Email)</h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-3">
        <figure class="ee_needSomeTools">
          <!-- <div class="figIcon"><span class="pe-7s-video" style="font-size: 50px;"></span></div> -->
          <img ng-src="images/ee_short_image/cctv.svg" >
          <figcaption>
            <h4>Total Security System</h4>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<!--technology-->
<section class="ee_technology">
  <div class="container">
    <div class="ee_technology_use">
      <header class="ee_technology_Heading">
        <h1>Technology <span class="ee_separateStyle"> we use</span></h1>
        <h4>Everexpert means to be equipt</h4>
      </header>
      <div class="ee_technology_uselist">
        <div id="ee_technologyLists" class="nano">
          <ul class="nano-content" >
            <li>
              <div class="ee_technologytype">
                <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Programming Language</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_java">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_python">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_javascript">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_php">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_rlanguage">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="ee_technologytype">
                  <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Web Development</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_django">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_laravel">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_symfony">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_sails">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_loopback">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_angular">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_reactjs">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_jquery">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="ee_technologylogos">
                <li class="ee_sass">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_less">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_wordpress">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_joomla">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_bootstrap">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_html5">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_css3">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="ee_technologytype">
                <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Mobile Application Development</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_android">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                    </div>
                </li>
                <li class="ee_ios">
                  <div class="ee_slice">
                    <div class="ee_bar">
                      </div>
                      <div class="ee_fill">
                      </div>
                    </div>
                </li>
                <li class="ee_kotlin">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_swift">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>

                <li class="ee_ionic">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_reactnative">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_cordova">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="ee_technologytype">
                <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Web Design</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_photoshop">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                    </div>
                </li>
                <li class="ee_illustrator">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                    </div>
                </li>
                <li class="ee_html5">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                    </div>
                </li>
                <li class="ee_css3">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                    </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="ee_technologytype">
                <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Database</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_mysql">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_mongodb">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_postgresql">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_neo4j">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="ee_technologytype">
                <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Data Analytics, Insight & Visualization</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_d3js">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_chartjs">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_gephi">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_python">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_matplotlib">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="ee_technologytype">
                <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Real Time Chat & Notification</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_socketio">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_xmpp">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="ee_technologytype">
                <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Geo Spatial Data Analysis & Visualization</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_googlemap">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_leafletjs">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_osm">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_geoserver">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_mongodb">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_postgresql">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_qgis">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="ee_technologytype">
                <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Data Science & Big Data</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_python">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_apachespark">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_hadoop">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_mongodb">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_postgresql">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_matlab">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                </ul>
            </li>
            <li>
              <div class="ee_technologytype">
                <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Cloud Server Management</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_amazonweb">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_google_platform">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="ee_technologytype">
                <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Package/Task/Testing Tools</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_grunt">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_gulp">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_bower">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_webpack">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_yeoman">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_karma">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_jasmine">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
              </ul>
            </li><li>
              <div class="ee_technologytype">
                <h3><span><i class="fa fa-cog" aria-hidden="true"></i></span>Web Server & Virtualization</h3>
              </div>
              <ul class="ee_technologylogos">
                <li class="ee_apache_webserver">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_nginx">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_apache_tomcat">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
                <li class="ee_docker">
                  <div class="ee_slice">
                    <div class="ee_bar">
                    </div>
                    <div class="ee_fill">
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--experts-->
<section class="ee_experts">
  <div class="container">
  </div>
</section>
<!--portfolio-->
<section id="portfolio" class="ee_works">
  <div class="container">
      <div class="portfolioInn">
          <div class="row">
            <div class="col-sm-3">
              <article class="ee_worksAr">
                <h2>see <span class="ee_separateStyle"> our works</span></h2>
                <h4>rich portfolio</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum arcu sem, congue non erat et, varius hendrerit sem. -->
                  <!-- Suspendisse venenatis libero orci, in elementum tortor mattis id. Integer aliquam nec lectus at venenatis.</p> -->
              </article>
            </div>
            <div class="col-sm-9">

              <div class="portfolioSlide">
                <div id="owl-demo4" class="owl-carousel">
                  <div class="item">
                    <div class="portfolioBox">
                      <div class="portfolioBoximg">
                        <img src="images/portfolio/bistro-central.jpg">
                      </div>
                      <h5>Bistro Central</h5>
                    </div>
                  </div>
                  <div class="item">
                    <div class="whatwedoBox portfolioBox">
                      <div class="portfolioBoximg">
                        <img src="images/portfolio/khaasfood.jpg">
                      </div>
                      <h5>Khaas Food</h5>
                    </div>
                  </div>
                  <div class="item">
                    <div class="portfolioBox">
                      <div class="portfolioBoximg">
                        <img src="images/portfolio/paragon.jpg">
                      </div>
                      <h5>Paragon Agro</h5>
                    </div>
                  </div>
                  <div class="item">
                    <div class="portfolioBox">
                      <div class="portfolioBoximg">
                        <img src="images/portfolio/southbreezebb.jpg">
                      </div>
                      <h5>South Breeze</h5>
                    </div>
                  </div>
                  <div class="item">
                    <div class="portfolioBox">
                      <div class="portfolioBoximg">
                        <img src="images/portfolio/shopbd.jpg">
                      </div>
                      <h5>Slopb Bangladesh</h5>
                    </div>
                  </div>
                  <div class="item">
                    <div class="portfolioBox">
                      <div class="portfolioBoximg">
                        <img src="images/portfolio/bridgebd.jpg">
                      </div>
                      <h5>Bridge Holdings</h5>
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>
      </div>
  </div>
</section>

<!--client-speech-->

<!--will add later-->
<!-- <section class="ee_client">
  <div class="container">
    <header class="ee_client_Heading">
      <h1>they have<span>said it</span></h1>
      <h4>we have awarded testimonials</h4>
    </header>
    <div class="ee_clientSaid">
      <div class="item">
        <div class="ee_clientInfo">
          <h3>Mr. Rashid al haris</h3>
          <p>Director SQUARE</p>
          <ul class="ee_clientSocialLink">
            <li>
              <span class="ee_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span>
            </li>
            <li>
              <span class="ee_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></span>
            </li>
          </ul>
        </div>
        <div class="ee_clientSpeech">
          <blockquote class="ee_clientQuote">
            <span class="ee_quoteIcon"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
            It is a long established fact that a reader will be distracted by the
            It is a long established fact that a reader will be distracted by the
            It is a long established fact that a reader will be distracted by the
            It is a long established fact that a reader will be distracted by the
          </blockquote>
        </div>
      </div>
      <div class="item">
        <div class="ee_clientInfo">
          <h3>Mr. Rashid al haris</h3>
          <p>Director SQUARE</p>
          <ul class="ee_clientSocialLink">
            <li>
              <span class="ee_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span>
            </li>
            <li>
              <span class="ee_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></span>
            </li>
          </ul>
        </div>
        <div class="ee_clientSpeech">
          <blockquote class="ee_clientQuote">
            <span class="ee_quoteIcon"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
            It is a long established fact that a reader will be distracted by the
            It is a long established fact that a reader will be distracted by the
            It is a long established fact that a reader will be distracted by the
            It is a long established fact that a reader will be distracted by the
          </blockquote>
        </div>
      </div>
      <div class="item">
        <div class="ee_clientInfo">
          <h3>Mr. Rashid al haris</h3>
          <p>Director SQUARE</p>
          <ul class="ee_clientSocialLink">
            <li>
              <span class="ee_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span>
            </li>
            <li>
              <span class="ee_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></span>
            </li>
          </ul>
        </div>
        <div class="ee_clientSpeech">
          <blockquote class="ee_clientQuote">
            <span class="ee_quoteIcon"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
            It is a long established fact that a reader will be distracted by the
            It is a long established fact that a reader will be distracted by the
            It is a long established fact that a reader will be distracted by the
            It is a long established fact that a reader will be distracted by the
          </blockquote>
        </div>
      </div>
    </div>

  </div>
</section> -->
<!--clients-company-->
<section class="ee_serve">
  <div class="container">
    <header class="ee_serve_Heading">
      <h1>pleased to<span class="ee_separateStyle"> serve them</span></h1>
      <h4>out beloved clients</h4>
    </header>
    <!--<div class="row">-->
      <!--<div class="ee_serviceClients">
        <div class="ee_item">
          <img src="images/clients-company/the-hunger-project-logobd.png">
        </div>
        <div class="ee_item">
          <img class="ee_csb" src="images/clients-company/southbreeze.svg">
        </div>
        <div class="ee_item">
          <img src="images/clients-company/khaasfoodbd.png">
        </div>
        <div class="ee_item">
          <img src="images/clients-company/bistro-centralbd.png">
        </div>
        <div class="ee_item">
          <img src="images/clients-company/paragonbd.png">
        </div>
        <div class="ee_item">
          <img src="images/clients-company/bridge-holdingbd.png">
        </div>
        <div class="ee_item">
          <img src="images/clients-company/slopb.png">
        </div>
      </div>-->
    <!--</div>-->

    <div class="ptsSlide">
      <div id="owl-demo5" class="owl-carousel">
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/cdd_logo.png">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/the-hunger-project-logobd.png">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img class="ee_csb" src="images/clients-company/southbreeze.svg">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/khaasfoodbd.png">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/bistro-centralbd.png">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/paragon-group.gif">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/bridge-holdingbd.png">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/slopb.png">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/casafortegroup.jpg">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/bjgroup.png">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/fairpattern.png">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/jomsocial.png">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/modestbd.png">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ptsBox">
            <div class="ptsBoximg">
              <img src="images/clients-company/symphony.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--<div>-->
  <!--mySQL,MongoDB,PostGreSQL,neo4j-->
<!--</div>-->
