<section class="content-header">
    <h1>{{addOperation}} Settings<a ng-click="saveSettings()" class="btn btn-primary pull-right">{{addOperation}}</a>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">General Elements</h3>
                    </div>
                    <div class="box-body">
                        <form role="form">
                            <!--ProductName-->
                            <div class="form-group">
                                <label>Admin Email</label>
                                <input class="form-control" placeholder="Enter your email" ng-model="settings.admin_email"/>
                            </div>
                            <div class="form-group">
                                <label>Page items</label>
                                <input type="number" class="form-control" placeholder="No of items" ng-model="settings.list_pagination"/>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="content">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 >Payment Information : Live Settings</h3>
            <h4 class="box-title" style="margin-right: 30px;">Enable Payment System</h4>
            <input ng-model="settings.paymentMode" type="radio" name="paymentMode" value="live" checked> Live
            <input ng-model="settings.paymentMode" type="radio" name="paymentMode" value="test"> Test<br>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box-header">
                    <h3 class="box-title">Live Settings</h3>
                </div>
                <form role="form">
                    <div class="box-body">
                            <form role="form">
                                <!--ProductName-->
                                <div class="form-group">
                                    <label>redirection url</label>
                                    <input type="text" class="form-control" placeholder="Enter your email" ng-model="settings.live_redirection_url"/>
                                </div>
                                <div class="form-group">
                                    <label>validation url soap</label>
                                    <input type="text" class="form-control" placeholder="Enter your email" ng-model="settings.live_validation_url_soap"/>
                                </div>
                                <div class="form-group">
                                    <label>validation url rest</label>
                                    <input type="text" class="form-control" placeholder="Enter your email" ng-model="settings.live_validation_url_rest"/>
                                </div>

                                <div class="form-group">
                                    <label>Store Id</label>
                                    <input type="text" class="form-control" placeholder="Enter your email" ng-model="settings.live_store_id"/>
                                </div>
                                <div class="form-group">
                                    <label>Store Passwrod</label>
                                    <input type="text" class="form-control" placeholder="Enter your email" ng-model="settings.live_store_pass"/>
                                </div>
                                <div class="form-group">
                                    <label>Store Name</label>
                                    <input type="text" class="form-control" placeholder="No of items" ng-model="settings.live_store_name"/>
                                </div>
                                <div class="form-group">
                                    <label>Success url</label>
                                    <input type="text" class="form-control" placeholder="No of items" ng-model="settings.live_success_url"/>
                                </div>
                                <div class="form-group">
                                    <label>Fail url</label>
                                    <input type="text" class="form-control" placeholder="No of items" ng-model="settings.live_fail_url"/>
                                </div>
                                <div class="form-group">
                                    <label>Cancel url</label>
                                    <input type="text" class="form-control" placeholder="No of items" ng-model="settings.live_cancel_url"/>
                                </div>
                                <div class="form-group">
                                    <label>Merchant id</label>
                                    <input type="text" class="form-control" placeholder="No of items" ng-model="settings.live_merchant_id"/>
                                </div>
                                <div class="form-group">
                                    <label>Merchant Name</label>
                                    <input type="text" class="form-control" placeholder="No of items" ng-model="settings.live_merchant_name"/>
                                </div>
                                <div class="form-group">
                                    <label>Version</label>
                                    <input type="text" class="form-control" placeholder="No of items" ng-model="settings.live_version"/>
                                </div>
                            </form>
                        </div>
                </form>
            </div>
            <div class="col-md-6">
                <form role="form">
                    <div class="box-header">
                        <h3 class="box-title">Test Settings</h3>
                    </div>
                    <div class="box-body">
                        <form role="form">
                            <!--ProductName-->
                            <div class="form-group">
                                <label>redirection url</label>
                                <input type="text" class="form-control" placeholder="Enter your email" ng-model="settings.test_redirection_url"/>
                            </div>
                            <div class="form-group">
                                <label>validation url soap</label>
                                <input type="text" class="form-control" placeholder="Enter your email" ng-model="settings.test_validation_url_soap"/>
                            </div>
                            <div class="form-group">
                                <label>validation url rest</label>
                                <input type="text" class="form-control" placeholder="Enter your email" ng-model="settings.test_validation_url_rest"/>
                            </div>


                            <div class="form-group">
                                <label>Store Id</label>
                                <input type="text" class="form-control" placeholder="Enter your email" ng-model="settings.test_store_id"/>
                            </div>
                            <div class="form-group">
                                <label>Store Passwrod</label>
                                <input type="text" class="form-control" placeholder="Enter your email" ng-model="settings.test_store_pass"/>
                            </div>
                            <div class="form-group">
                                <label>Store Name</label>
                                <input type="text" class="form-control" placeholder="No of items" ng-model="settings.test_store_name"/>
                            </div>
                            <div class="form-group">
                                <label>Success url</label>
                                <input type="text" class="form-control" placeholder="No of items" ng-model="settings.test_success_url"/>
                            </div>
                            <div class="form-group">
                                <label>Fail url</label>
                                <input type="text" class="form-control" placeholder="No of items" ng-model="settings.test_fail_url"/>
                            </div>
                            <div class="form-group">
                                <label>Cancel url</label>
                                <input type="text" class="form-control" placeholder="No of items" ng-model="settings.test_cancel_url"/>
                            </div>
                            <div class="form-group">
                                <label>Merchant id</label>
                                <input type="text" class="form-control" placeholder="No of items" ng-model="settings.test_merchant_id"/>
                            </div>
                            <div class="form-group">
                                <label>Merchant Name</label>
                                <input type="text" class="form-control" placeholder="No of items" ng-model="settings.test_merchant_name"/>
                            </div>
                            <div class="form-group">
                                <label>Version</label>
                                <input type="text" class="form-control" placeholder="No of items" ng-model="settings.test_version"/>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
