<div class="container">
  <form name="registerForm" class="form-signin mjh_adminlogin" novalidate>
    <img ng-src="admin/images/ee-logo-fav.png"/>
    <h2>EverExpert Info. System</h2>
    <div><h3>admin login</h3></div>
    <div class="alert alert-danger" role="alert" ng-repeat="error in errors">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error}}
    </div>
    <div class="control-group">
      <input type="email" class="form-control" placeholder="email" name="email" ng-model="user.email" required>
      <div ng-show="registerForm.email.$dirty" ng-messages="registerForm.email.$error">
        <!--<div ng-message="required">Please enter correct email</div>-->
      </div>
    </div >
    <div class="control-group">
      <input type="password" class="form-control" placeholder="password" name="password" ng-model="user.password" required>
      <div ng-show="registerForm.password.$dirty" ng-messages="registerForm.password.$error">
        <!--<div ng-message="required">You forgot the password.</div>-->
      </div>
    </div>
    <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" value="Login" />
    <a  ui-sref="anon.recover">Forget Password?</a>
  </form>
  <div class="design_develop">
    <span>Powered By </span>
    <a href="http://www.everexpert.com" target="_blank"><img ng-src="admin/images/everexpert_logo.png"/></a>
  </div>
</div>